{% extends "base.html" %}
{% load vite_tags %}

{% block title %} Password & Security {% endblock %}

{% block content %}

    <div id="react-root"
        data-form-action="{% url 'accounts:password' %}"
        data-password-url="{% url 'accounts:password' %}"
        data-prefs-url="{% url 'accounts:prefs' %}"
        data-sessions-url="{% url 'accounts:list_sessions' %}"
        data-sessions-revoke-url-template="{% url 'accounts:revoke_session' session_uuid='00000000-0000-0000-0000-000000000000' %}"
        data-csrf-token="{{ csrf_token }}"
        data-username="{{ user.get_username }}"
    ></div>

{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/prefs-password" %}
{% endblock %}
