{% extends "base_react.html" %}

{% load vite_tags %}

{% block title %} Tags {% endblock %}

{% block content %}

    <div id="react-root"
        data-tag-search-url="{% url 'tag:search' %}"
        data-tag-alias-list-url="{% url 'tagalias-list' %}"
        data-tag-alias-detail-url="{% url 'tagalias-detail' '00000000-0000-0000-0000-000000000000' %}"
        data-get-todo-counts-url="{% url 'tag:get_todo_counts' %}"
        data-add-alias-url="{% url 'tag:add_alias' %}">
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ random_tag_info|json_script:"random_tag_info" }}

{% endblock %}

{% block javascript_bundles %}
    {% vite_asset "dist/js/base-react" %}
    {% vite_asset "dist/js/tag-list" %}
{% endblock %}
