{% extends "base.html" %}

{% load dict_get %}

{% block title %} Tags {% endblock %}

{% block content %}

    <div class="row g-0 h-100 mx-2" id="vue-app">

        <div class="col-lg-3 d-flex flex-column flex-grow-last">

            <div class="card-body backdrop-filter" v-cloak>

                <div class="d-flex position-relative">
                    <h4>
                        Tag Info
                    </h4>
                    <div v-if="showTagSearch" id="tags-search">
                        <select-value
                            ref="selectValue"
                            search-url="{% url 'tag:search' %}?query="
                            place-holder="Tag name"
                            @select="select"
                            @close="showTagSearch = false"
                        >
                        </select-value>
                    </div>
                    <div class="ms-auto d-flex align-items-center" @click="openSearchWindow">
                        <font-awesome-icon icon="magnifying-glass" class="glow text-emphasis" />
                    </div>
                </div>
                <h4 v-cloak>
                    <strong class="text-primary">[[ tagInfo.name ]]</strong>
                </h4>

                <div class="d-flex flex-column" :class="{'d-none': dataLoading}">

                    <div class="list-header-border mb-2 pb-2 mt-4">
                        Objects using this tag
                    </div>

                    <div v-if="tagInfo.blob__count" v-cloak>
                        <span class="text-name">Blobs</span>: <span class="text-value">[[ tagInfo.blob__count ]]</span>
                    </div>
                    <div v-if="tagInfo.bookmark__count" v-cloak>
                        <span class="text-name">Bookmarks</span>: <span class="text-value">[[ tagInfo.bookmark__count ]]</span>
                    </div>
                    <div v-if="tagInfo.todo__count" v-cloak>
                        <span class="text-name">Todos</span>: <span class="text-value">[[ tagInfo.todo__count ]]</span>
                    </div>
                    <div v-if="tagInfo.question__count" v-cloak>
                        <span class="text-name">Questions</span>: <span class="text-value">[[ tagInfo.question__count ]]</span>
                    </div>
                    <div v-if="tagInfo.song__count" v-cloak>
                        <span class="text-name">Songs</span>: <span class="text-value">[[ tagInfo.song__count ]]</span>
                    </div>
                    <div v-if="tagInfo.album__count" v-cloak>
                        <span class="text-name">Albums</span>: <span class="text-value">[[ tagInfo.album__count ]]</span>
                    </div>
                    <div v-if="tagInfo.collection__count" v-cloak>
                        <span class="text-name">Collections</span>: <span class="text-value">[[ tagInfo.collection__count ]]</span>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-9">
            <card class="backdrop-filter">
                <template v-slot:title-slot>
                    <div class="d-flex">
                        <h4>
                            Tag Aliases
                        </h4>
                        <div class="ms-auto me-2">
                            <drop-down-menu>
                                <template #dropdown>
                                    <li>
                                        <a class="dropdown-item" href="#" @click.prevent="openModal">
                                            <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>
                                            <span>New Tag</span>
                                        </a>
                                    </li>
                                </template>
                            </drop-down-menu>
                        </div>
                    </div>
                </template>
                <template v-slot:content>

                    <div class="d-flex">

                        <div class="side-panel highlight-box mt-5 me-5">
                            <div class="circle me-3 mb-2">
                                <font-awesome-icon icon="info"></font-awesome-icon>
                            </div>
                            Tag aliases are labels you can assign as synonyms for tags.
                            <br /><br />
                            An example might be the alias <span class="text-primary">math</span> for the tag <span class="text-primary">mathematics</span>
                        </div>

                        <o-table
                            :data="items"
                            :default-sort="['tag.name']"
                            hoverable
                            class="w-100"
                            :row-class="(row, index) => 'hover-target'"
                        >

                            <o-table-column field="tag.name" label="Tag" sortable v-slot="props">
                                <span>[[ props.row.tag.name ]]</span>
                            </o-table-column>

                            <o-table-column field="name" label="Alias" sortable v-slot="props">
                                <span>[[ props.row.name ]]</span>
                            </o-table-column>

                            <o-table-column field="uuid" label="" :td-attrs="() => ({ class: 'col-action' })" v-slot="props">
                                <drop-down-menu :show-on-hover="true">
                                    <template #dropdown>
                                        <li>
                                            <a class="dropdown-item" href="#" @click.prevent="onClickDelete(props.row.uuid)">
                                                <font-awesome-icon icon="trash-alt" class="text-primary me-3"></font-awesome-icon>Delete
                                            </a>
                                        </li>
                                    </template>
                                </drop-down-menu>
                            </o-table-column>
                            <template #empty>
                                <div class="text-center">No tag aliases found</div>
                            </template>
                        </o-table>

                    </div>

                </template>
            </card>

            <div class="modal fade" id="modal-tagalias" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">New Tag Alias</h4>
                            <button type="button" class="close-button btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row align-items-center">
                                <div class="mx-1 d-flex">
                                    <select-value
                                        v-model="addAliasTagName"
                                        ref="modalSelectValue"
                                        id="tag-alias-name"
                                        wrapper-class="w-100 me-3"
                                        search-url="{% url 'tag:search' %}?skip_tag_aliases=true&query="
                                        place-holder="Tag name"
                                        @select="selectAlias"
                                    >
                                    </select-value>
                                    <input v-model="addAliasAliasName" id="tag-alias-alias" class="form-control" type="text" name="alias" autocomplete="off" placeholder="Alias" @keydown.enter="addAlias" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer align-items-start align-items-center">

                            <div class="mt-2 text-secondary">
                                <font-awesome-icon v-if="addAliasMessage" class="me-1 pt-1 success" icon="exclamation-triangle" />
                                {{ addAliasMessage }}
                            </div>

                            <input class="btn btn-primary" type="button" value="Save" @click="addAlias" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ random_tag_info|json_script:"random_tag_info" }}

    <script type="text/javascript" charset="utf-8">

        const app = createApp({
            name: "TagList",
            delimiters: ["[[", "]]"],
            components: {
                Card,
                DropDownMenu,
                FontAwesomeIcon,
                SelectValue,
            },
            setup() {
                const dataLoading = ref(true);
                const filterSearch = ref("");
                const items = ref([]);
                const addAliasTagName = ref("");
                const addAliasAliasName = ref("");
                const addAliasMessage = ref("");
                const showTagSearch = ref(false);
                const tagInfo = ref(JSON.parse(document.getElementById("random_tag_info").textContent));

                const modalSelectValue = ref(null);
                const selectValue = ref(null);

                function getTagAliasList() {
                    doGet(
                        "{% url 'tagalias-list' %}",
                        (response) => {
                            items.value = response.data.results;
                        },
                        "Error retrieving tag alias list",
                    );
                };

                function getTodoCounts(tagName) {
                    let url = "{% url 'tag:get_todo_counts' %}";
                    if (tagName) {
                        url = url + `?tag_name=${tagName}`;
                    }
                    doGet(
                        url,
                        (response) => {
                            tagInfo.value = response.data.info;
                            dataLoading.value = false;
                        },
                        "Error retrieving tag alias list",
                    );
                };

                function openSearchWindow() {
                    showTagSearch.value = true;
                    setTimeout( () => {
                        selectValue.value.focus();
                    }, 500);
                };

                function onClickDelete(uuid) {
                    axios.delete("{% url 'tagalias-detail' '00000000-0000-0000-0000-000000000000' %}".replace("00000000-0000-0000-0000-000000000000", uuid))
                         .then((response) => {
                             EventBus.$emit(
                                 "toast",
                                 {
                                     "body": "Tag alias deleted",
                                 },
                             );

                             getTagAliasList();
                         }, (error) => {
                             console.log(error);
                         });
                };

                function getTagClass(tag) {
                    if (tag === filterTag) {
                        return "selected rounded-sm";
                    }
                };

                function openModal() {
                    const modal = new Modal("#modal-tagalias");
                    modal.show();
                    setTimeout( () => {
                        modalSelectValue.value.focus();
                    }, 500);
                };

                function select(tagName) {
                    getTodoCounts(tagName.label);
                };

                function selectAlias() {
                    document.getElementById("tag-alias-alias").focus();
                };

                function resetModal() {
                    modalSelectValue.value.clearOptions();
                    addAliasAliasName.value = "";
                };

                function addAlias() {
                    doPost(
                        "{% url 'tag:add_alias' %}",
                        {
                            "tag_name": modalSelectValue.value.getValue(),
                            "alias_name": addAliasAliasName.value,
                        },
                        () => {
                            resetModal();

                            const modal = Modal.getInstance(document.getElementById("modal-tagalias"));
                            modal.hide();
                            getTagAliasList();
                        },
                        "Tag alias added",
                        "",
                    );
                };

                onMounted(() => {
                    getTagAliasList();
                    getTodoCounts();
                });

                return {
                    addAlias,
                    addAliasTagName,
                    addAliasAliasName,
                    addAliasMessage,
                    dataLoading,
                    filterSearch,
                    getTagAliasList,
                    getTagClass,
                    getTodoCounts,
                    items,
                    modalSelectValue,
                    onClickDelete,
                    openModal,
                    openSearchWindow,
                    resetModal,
                    showTagSearch,
                    select,
                    selectAlias,
                    selectValue,
                    tagInfo,
                };
            },
        });
        app.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        app.mount("#vue-app");

</script>

{% endblock %}
