{% extends "base.html" %}

{% load is_in_group %}
{% load dict_get %}

{% block title %} {% if blob.name %}{{ blob }}{% else %}No Name{% endif%} {% endblock %}

{% block content %}

    <div id="vue-app" class="scrollable-panel-container row g-0 align-items-start h-100 mx-2">

        <div class="col-lg-3 d-flex flex-column h-100">

            <!--
                 Keep this here so that the resulting div doesn't get
                 included by the parent's "flex-grow-last" selector.
            -->
            <object-select
                label="_objectSelect"
                ref="objectSelect"
                :has-filter="false"
                search-object-url="{% url 'search:search_names' %}"
                title="Select Object"
                @select-object="handleObjectAdd"
            >
            </object-select>

            <div class="sticky-top d-flex flex-column h-100 flex-grow-last">

                <div class="card-body hover-target backdrop-filter z-index-positive pt-0 pt-1" v-cloak>

                    <div id="blob-metadata" class="d-flex position-absolute">
                        <drop-down-menu :show-on-hover="true" v-cloak>
                            <template #dropdown class="mt-0">
                                <li>
                                    <a class="dropdown-item" href="{% url 'blob:update' blob.uuid %}">
                                        <span>
                                            <font-awesome-icon icon="pencil-alt" class="text-primary me-3"></font-awesome-icon>Edit
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" @click.prevent="handleAddToCollection()">
                                        <span>
                                            <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>Add to Collection
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" @click.prevent="openObjectSelectModal">
                                        <span>
                                            <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>New Related Object
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'blob:create' %}?linked_blob_uuid={{ blob.uuid }}">
                                        <span>
                                            <font-awesome-icon icon="file-alt" class="text-primary me-3"></font-awesome-icon>Link to New Blob
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'blob:clone' blob.uuid %}">
                                        <span>
                                            <font-awesome-icon icon="clone" class="text-primary me-3"></font-awesome-icon>Clone Blob
                                        </span>
                                    </a>
                                </li>
                                {% if blob.is_note %}
                                    <li>
                                        <a class="dropdown-item" href="#" @click.prevent="onClickPinnedNote">
                                            <span>
                                                <font-awesome-icon icon="thumbtack" class="text-primary me-3"></font-awesome-icon>[[ pinnedButtonValue ]]
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if blob.sha1sum and request.user|is_in_group:"Admin" %}
                                    <li>
                                        <a class="dropdown-item" href="#" @click.prevent="handleCopySha1sum('{{ blob.sha1sum }}')">
                                            <span>
                                                <font-awesome-icon icon="copy" class="text-primary me-3"></font-awesome-icon>Copy Sha1sum
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ aws_url }}">
                                            <span>
                                                <font-awesome-icon :icon="[ 'fab', 'aws' ]" class="text-primary me-3"></font-awesome-icon>S3 Link
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="#" @click.prevent="handleDelete">
                                        <span>
                                            <font-awesome-icon icon="times" class="text-primary me-3"></font-awesome-icon>Delete
                                        </span>
                                    </a>
                                </li>
                            </template>
                        </drop-down-menu>
                    </div>

                    {% if blob.get_edition_string %}
                        <h5>
                        {{ blob.get_edition_string }}
                        </h5>
                    {% endif %}

                    {% if metadata|dict_get:"Subtitle" %}
                        <div id="blob_subtitle">
                        {{ metadata|dict_get:"Subtitle" }}
                        </div>
                    {% endif %}

                    {% if metadata|dict_get:"Author" %}
                        <div class="mt-2">
                            <span class="item-name">by</span> <span class="item-value">{{ metadata|dict_get:"Author" }}</span>
                        </div>
                    {% endif %}

                    {% if date %}
                        <div class="mb-2">
                        {{ date }}
                        </div>
                    {% endif  %}

                    {% if blob.tags.all %}
                        <div class="d-flex mb-2">
                            <div>
                                <font-awesome-icon icon="tags" class="text-primary"></font-awesome-icon>
                            </div>
                            <div class="ms-2">
                                <div id="blob-tag-list">
                                {% for tag in blob.tags.all %}
                                    <a class="tag" href="{% url 'search:kb_search_tag_detail' tag.name %}">{{ tag.name }}</a>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if urls %}
                        <div class="mb-3">
                            <font-awesome-icon icon="link" class="text-primary me-1"></font-awesome-icon>
                            {% for url in urls %}
                                <strong><a href="{{ url.url }}">{{ url.domain }}</a></strong>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if show_metadata %}

                        <transition name="fade">
                            <div v-if="Object.keys(elasticsearchInfo).length !== 0 || Object.keys(metadataMisc).length !== 0" class="highlight-box mb-3">

                                <div v-for="(value, name) in metadataMisc" class="d-flex">
                                    <div class="item-name me-2">
                                        [[ name ]]
                                    </div>
                                    <div class="item-value text-break">
                                        [[ value ]]
                                    </div>
                                </div>

                                <div v-if="elasticsearchInfo.content_type" class="d-flex">
                                    <div class="item-name me-2">
                                        Object Type
                                    </div>
                                    <div class="item-value">
                                        [[ elasticsearchInfo.content_type ]]
                                    </div>
                                </div>

                                <div v-if="elasticsearchInfo.size" class="d-flex">
                                    <div class="item-name me-2">
                                        Size
                                    </div class="item-value">
                                    <div>
                                        [[ elasticsearchInfo.size ]]
                                    </div>
                                </div>

                                <div v-if="elasticsearchInfo.num_pages" class="d-flex">
                                    <div class="item-name me-2">
                                        Pages
                                    </div>
                                    <div class="item-value">
                                        [[ elasticsearchInfo.num_pages ]]
                                    </div>
                                </div>

                                <div v-if="elasticsearchInfo.duration" class="d-flex">
                                    <div class="item-name me-2">
                                        Duration
                                    </div>
                                    <div class="item-value">
                                        [[ elasticsearchInfo.duration ]]
                                    </div>
                                </div>

                            </div>
                        </transition>

                    {% endif %}

                    {% if blob.note %}
                        <div class="highlight-box mt-3 text-break" id="blob-note" v-html="getNote()">
                        </div>
                    {% endif %}

                    {% if blob.is_note and blob.has_been_modified %}
                        <div class="mt-3">
                            <strong class="me-2">Last edited</strong>
                            <small>{{ blob.modified|date:"F j, Y" }}</small>
                        </div>
                    {% endif %}

                    {% if node_list %}
                        <div class="mt-3">
                            <strong>
                                Nodes:
                            </strong>
                            {% for node in node_list %}
                                <small>
                                    <a href="{% url 'node:detail' node.uuid %}">{{ node.name }}</a>
                                </small>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if blob.sha1sum %}
                        <a class="button-icon mt-3" href="{{ MEDIA_URL }}blobs/{{ blob.get_url }}" role="button">
                            <font-awesome-icon icon="download" class="text-emphasis" />
                        </a>
                    {% endif %}

                </div>

                <div v-if="tree['nodes'].length > 0" class="card-body backdrop-filter">
                    <tree-menu
                        class="tree-menu item"
                        :item="tree"
                        :depth="0"
                    ></tree-menu>
                </div>

                <card v-if="collectionList.length" class="backdrop-filter hover-reveal-target">
                    <template #title-slot>
                        <div class="d-flex">
                            <div class="card-title d-flex">
                                <font-awesome-icon icon="object-group" class="text-primary me-3 mt-1"></font-awesome-icon>
                                    Collections
                            </div>
                            <div class="dropdown-menu-container ms-auto">
                                <drop-down-menu class="d-none hover-reveal-object" :show-on-hover="false">
                                    <template #dropdown>
                                        <li>
                                            <a class="dropdown-item" :href="'{% url 'blob:create' %}?linked_collection=' + collectionList[0].uuid">
                                                <span>
                                                    <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>
                                                </span>
                                                Add to Collection
                                            </a>
                                        </li>
                                    </template>
                                </drop-down-menu>
                            </div>
                        </div>
                    </template>
                    <template #content>
                        <div v-for="collection in collectionList" class="d-flex flex-column">
                            <hr class="divider">
                            <div class="d-flex flex-column align-items-center">
                                <a :href="collection.url">
                                    <img :src="collection.cover_url" class="mw-100">
                                </a>
                            </div>
                            <div class="d-flex flex-column align-items-center position-relative mt-2 mb-2">
                                <div
                                    v-if="collection.note"
                                    v-tooltip="{ content: collection.note, html: true }"
                                    class="blob-collection-note"
                                >
                                    <font-awesome-icon icon="sticky-note"></font-awesome-icon>
                                </div>
                                <h5 class="text5 mb-0">[[ collection.name ]]</h5>
                                <div class="fw-bold me-1">
                                    <strong class="me-1">[[ collection.num_objects ]]</strong> [[ pluralize("Object", collection.num_objects) ]]
                                </div>
                            </div>
                        </div>
                    </template>
                </card>

                <related-objects
                    ref="relatedObjectsList"
                    object-uuid="{{ object.uuid }}"
                    node-type="blob"
                    :show-empty-list="false"
                    related-objects-url="{% url 'blob:related_objects' '00000000-0000-0000-0000-000000000000' %}"
                    new-object-url="{% url 'blob:add_related_object' %}"
                    remove-object-url="{% url 'blob:remove_related_object' %}"
                    sort-related-objects-url="{% url 'blob:sort_related_objects' %}"
                    edit-related-object-note-url="{% url 'blob:update_related_object_note' %}"
                    @open-object-select-modal="openObjectSelectModal">
                </related-objects>

                <back-references v-if="backReferences.length > 0" :back-references="backReferences">
                </back-references>

            </div>

        </div> <!-- End first column -->

        <div class="col-lg-9 scrollable-panel-scrollbar-hover vh-95 overflow-auto">

            <div class="col-lg-12 d-flex flex-column h-100">

                {% if blob.is_video %}
                <div v-cloak>
                    <video class="h-100 w-100" controls muted>
                        <source src="{{ MEDIA_URL }}blobs/{{ blob.get_url }}" type="video/mp4">
                    </video>
                </div>
                {% elif blob.is_image or blob.is_video or blob.is_pdf %}
                <blob-detail-cover
                    cover-url="{{ blob.get_cover_url }}?nodefault=1"
                    class="mx-2"
                    {% if blob.content %}
                        :full-size="false"
                    {% endif %}
                >
                </blob-detail-cover>
                {% endif %}

                <media-controller v-if="elasticsearchInfo.content_type === 'Audio'" audio v-cloak class="w-100">
                    <audio id="player" slot="media" src="{{ MEDIA_URL }}blobs/{{ blob.get_url }}" type="audio/mpeg">
                    </audio>
                    <media-control-bar class="w-100">
                        <media-play-button></media-play-button>
                        <media-time-display show-duration></media-time-display>
                        <media-time-range></media-time-range>
                        <media-playback-rate-button></media-playback-rate-button>
                        <media-mute-button></media-mute-button>
                        <media-volume-range></media-volume-range>
                    </media-control-bar>
                </media-controller>

                {% if blob.content %}
                    <div class="blob-content table-borders flex-grow-1 mx-2 mb-3 p-3" id="blob-detail-content" v-html="getContent()">
                    </div>
                {% endif %}

                {% if elasticsearch_info.content_type == "SQLite Database" %}
                    <a href="{% url 'homepage:sql' %}?sql_db_uuid={{ blob.uuid }}" target="_blank" class="btn btn-primary ms-2" role="button">SQL Playground</a>
                {% endif %}

                <add-to-collection ref="addToCollection" blob-uuid="{{ blob.uuid }}"
                    search-url="{% url 'collection:search' %}?exclude_blob_uuid={{ blob.uuid }}&query="
                    add-object-url="{% url 'collection:add_object' %}" add-collection-url="{% url 'collection-list' %}"
                    @add-to-collection="getCollectionList">
                </add-to-collection>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ back_references|json_script:"backReferences" }}
    {{ collection_list|json_script:"collectionList" }}
    {{ elasticsearch_info|json_script:"elasticsearchInfo" }}
    {{ metadata_misc|json_script:"metadataMisc" }}
    {{ tree|json_script:"tree" }}

    {% if blob.math_support %}
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    {% endif %}

    <script type="text/javascript">

        {% if blob.is_note %}
        window.MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"], ["$$", "$$"]],
                displayMath: [["\\[", "\\]"]],
                processEscapes: true,
                processEnvironments: true,
            },
        };
        {% endif %}

        const app = createApp({
            name: "BlobDetail",
            delimiters: ["[[", "]]"],
            components: {
                AddToCollection,
                BackReferences,
                BlobDetailCover,
                Card,
                DropDownMenu,
                FloatingVue,
                FontAwesomeIcon,
                ObjectSelect,
                RelatedObjects,
                TreeMenu,
            },
            setup() {
                const backReferences = JSON.parse(document.getElementById("backReferences").textContent);
                const collectionList = ref(JSON.parse(document.getElementById("collectionList").textContent));
                let elasticsearchInfo = ref(JSON.parse(document.getElementById("elasticsearchInfo").textContent));
                const isPinnedNote = ref({{ is_pinned_note|yesno:"true,false" }});
                const getBlobInfoAttemptIntervals = [1000, 3000, 6000];
                let getBlobInfoAttempts = 0;
                const tree = JSON.parse(document.getElementById("tree").textContent);
                const metadataMisc = JSON.parse(document.getElementById("metadataMisc").textContent);

                const addToCollection = ref(null);
                const objectSelect = ref(null);
                const relatedObjectsList = ref(null);

                function getNote() {
                    return markdown.render("{{ blob.note|escapejs }}");
                };

                function getRelatedBlobNote(note) {
                    if (note) {
                        return markdown.render(note);
                    }
                };

                function onClick(url) {
                    window.location = url;
                };

                function getBlobInfo() {
                    getBlobInfoAttempts++;
                    console.log(`Retrieving blob info, attempt #${getBlobInfoAttempts}`);
                    doGet(
                        "{% url 'blob:get_elasticsearch_info' blob.uuid %}",
                        (response) => {
                            if (Object.keys(response.data.info).length !== 0) {
                                elasticsearchInfo.value = response.data.info;
                            } else {
                                // Keep trying to retrieve the blob's info until we run out of attempts
                                if (getBlobInfoAttempts <= getBlobInfoAttemptIntervals.length) {
                                    setTimeout( () => {
                                        getBlobInfo();
                                    }, getBlobInfoAttemptIntervals[getBlobInfoAttempts - 1]);
                                }
                            }
                        },
                        "Error getting blob info",
                    );
                };

                function onAfterEnter(evt) {
                    const input = evt.querySelector("input");
                    if (input) {
                        input.focus();
                    }
                };

                function handleObjectAdd(objectInfo) {
                    relatedObjectsList.value.newObject(objectInfo);
                };

                function handleCopySha1sum(sha1sum) {
                    navigator.clipboard.writeText(sha1sum);
                    EventBus.$emit(
                        "toast",
                        {
                            "body": "Sha1sum copied to clipboard",
                        },
                    );
                };

                function handleAddToCollection() {
                    const modal = new Modal("#modalAddToCollection");
                    modal.show();
                    setTimeout(() => {
                        addToCollection.value.$refs.selectValue.focus();
                    }, 500);
                };

                function getCollectionList() {
                    doGet(
                        "{% url "collection:search" %}?blob_uuid={{ blob.uuid }}",
                        (response) => {
                            collectionList.value = response.data;
                        },
                        "Error getting collection list",
                    );
                };

                function onClickPinnedNote(evt) {
                    payload = {
                        "uuid": "{{ blob.uuid }}",
                    };
                    if (isPinnedNote.value) {
                        payload.remove = true;
                    }
                    doPost(
                        url = "{% url "accounts:pin_note" %}",
                        payload,
                        (response) => {
                            isPinnedNote.value = !isPinnedNote.value;
                        },
                    );
                };

                function openObjectSelectModal() {
                    objectSelect.value.openModal();
                };

                function handleDelete() {
                    axios.delete("{% url 'blob-detail' blob.uuid %}")
                         .then((response) => {
                             window.location = "{% url 'blob:list' %}";
                         }, (error) => {
                             EventBus.$emit(
                                 "toast",
                                 {
                                     "title": "Error",
                                     "body": `Error deleting blob: ${error}`,
                                     "variant": "danger",
                                 },
                             );
                             console.log(error);
                         });
                };

                function getContent() {
                    content = markdown.render("{{ blob.content|escapejs }}");
                    return content.replace(/(%#@!(\d+)!@#%)/g, "<a name='section_$2'></a>");
                };

                const pinnedButtonValue = computed(() => {
                    return isPinnedNote.value ? "Unpin note" : "Pin Note";
                });

                onMounted(() => {
                    {% if not elasticsearch_info %}
                    setTimeout(() => {
                        getBlobInfo();
                    }, getBlobInfoAttemptIntervals[getBlobInfoAttempts]);
                    {% endif %}

                    hotkeys("alt+a", function(event, handler) {
                        switch (handler.key) {
                            case "alt+a":
                                handleAddToCollection();
                                break;
                        }
                    });
                });

                return {
                    addToCollection,
                    backReferences,
                    collectionList,
                    elasticsearchInfo,
                    getBlobInfo,
                    getCollectionList,
                    getContent,
                    getNote,
                    getRelatedBlobNote,
                    handleAddToCollection,
                    handleCopySha1sum,
                    handleDelete,
                    handleObjectAdd,
                    isPinnedNote,
                    metadataMisc,
                    objectSelect,
                    onAfterEnter,
                    onClick,
                    onClickPinnedNote,
                    openObjectSelectModal,
                    pinnedButtonValue,
                    pluralize,
                    relatedObjectsList,
                    tree,
                };
            },
        });
        app.use(FloatingVue);
        app.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        app.mount("#vue-app");

    </script>

{% endblock %}

{% block help %}

    <div class="d-none" id="help-text">
# Keyboard Shortcuts
- **Alt-C** *-* Add to collection
    </div>

{% endblock %}
