{% extends "base.html" %}
{% load vite_tags %}

{% block title %}Recent Blobs{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {{ dashboard_data|json_script:"blob-dashboard-data" }}
    {% vite_asset "dist/js/blob-list" %}
{% endblock %}

{% block content %}
<div id="react-root"
     data-create-blob-url="{% url 'blob:create' %}"
     data-import-blob-url="{% url 'blob:import' %}"
     data-bookshelf-url="{% url 'blob:bookshelf' %}">
</div>
{% endblock %}

{% block help %}
    <div class="hidden" id="help-text">
*Filter:* Use the rail to filter blobs by doctype, tag, recency, or importance.

*Create:* Click "+ new" to create one, or use the bookshelf to find a book.
    </div>
{% endblock %}
