{% extends "base_react.html" %}
{% load vite_tags %}
{% load is_in_group %}

{% block title %} {% if blob.name %}{{ blob }}{% else %}No Name{% endif%} {% endblock %}

{% block content %}

    <div id="react-root"
         data-is-pinned-note="{% if is_pinned_note %}true{% else %}false{% endif %}"
         data-is-admin="{% if request.user|is_in_group:'Admin' %}true{% else %}false{% endif %}"
         data-show-metadata="{% if show_metadata %}true{% else %}false{% endif %}"
         data-media-url="{{ MEDIA_URL }}"
         class="scrollable-panel-container row g-0 align-items-start h-100 mx-2">
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ blob_json|json_script:"blob-data" }}
    {{ urls_json|json_script:"urls-data" }}
    {{ blob_urls|json_script:"blob-urls" }}
    {{ collection_list|json_script:"collection-list" }}
    {{ elasticsearch_info_json|json_script:"elasticsearch-info" }}
    {{ back_references|json_script:"back-references" }}
    {{ tree_json|json_script:"tree-data" }}
    {{ metadata_misc|json_script:"metadata-misc" }}
    {{ node_list_json|json_script:"node-list" }}

    {% if blob.math_support %}
    <script type="text/javascript">
        window.MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"], ["$$", "$$"]],
                displayMath: [["\\[", "\\]"]],
                processEscapes: true,
                processEnvironments: true,
            },
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    {% endif %}

{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/blob-detail" %}
{% endblock %}

{% block help %}

    <div class="d-none" id="help-text">
# Keyboard Shortcuts
- **Alt-A** *-* Add to collection
    </div>

{% endblock %}
