{% extends "base.html" %}
{% load vite_tags %}

{% block title %}Recent Blobs{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {{ recent_blobs|json_script:"blob-list-data" }}
    {% vite_asset "dist/js/blob-list" %}
{% endblock %}

{% block content %}
<div id="react-root"
     data-create-blob-url="{% url 'blob:create' %}"
     data-import-blob-url="{% url 'blob:import' %}"
     data-bookshelf-url="{% url 'blob:bookshelf' %}">
</div>
{% endblock %}

{% block help %}
    <div class="d-none" id="help-text">
*Filter:* Use the tabs to filter blobs by type.

*Create:* Click the menu icon to create a new blob or import one.
    </div>
{% endblock %}
