{% extends "base.html" %}
{% load vite_tags %}

{% block title %} Bookshelf {% endblock %}

{% block content %}

    <div id="react-root"
        data-total-count="{{ total_count }}"
        data-search-term="{{ request.GET.search|default:'' }}"
        data-selected-tag="{{ request.GET.tag|default:'' }}"
        data-clear-url="{% url 'blob:bookshelf' %}"
    >
    </div>

    {{ object_list|json_script:"books" }}
    {{ tag_list|json_script:"tag_list" }}

{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/bookshelf" %}
{% endblock %}
