{% extends "base_react.html" %}
{% load vite_tags %}

{% block title %} Blob :: Import {% endblock %}

{% block content %}

    <div
        id="react-root"
        data-static-url="{{ STATIC_URL }}"
        data-import-url="{% url 'blob:import' %}"
        data-csrf-token="{{ csrf_token }}"
        data-initial-url="{{ request.POST.url }}"
    ></div>

    <script id="messages-data" type="application/json">{{ json_messages|safe }}</script>

{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/blob-import" %}
{% endblock %}
