{% extends "base.html" %}
{% load vite_tags %}

{% block title %} Notes {% endblock %}

{% block content %}

    <div id="react-root"
         data-count="{{ count|default:0 }}"
         data-is-search-result="{% if request.GET.search %}true{% else %}false{% endif %}"
         data-notes-search-url="{% url 'search:notes' %}"
         data-create-note-url="{% url 'blob:create' %}?is_note=true"
         data-note-detail-url="{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}"
         data-sort-pinned-notes-url="{% url 'accounts:sort_pinned_notes' %}"
         class="scrollable-panel-container row g-0 mx-2">
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ results|json_script:"results" }}
    {{ pinned_notes_json|json_script:"pinned-notes" }}
    {{ paginator|json_script:"paginator" }}

    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script type="text/javascript">
        window.MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"], ["$$", "$$"]],
                displayMath: [["\\[", "\\]"]],
                processEscapes: true,
                processEnvironments: true,
            },
        };
    </script>

{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/note-list" %}
{% endblock %}
