{% extends "base.html" %}
{% load vite_tags %}

{% block title %} Bookmarks {% endblock %}

{% block content %}

    <div id="react-root"
        data-initial-tag="{{ tag|default:'' }}"
        data-untagged-count="{{ untagged_count }}"
        data-view-type="{{ request.session.bookmark_view_type|default:'normal' }}"
        data-get-bookmarks-by-page-url="{% url 'bookmark:get_bookmarks_by_page' 666 %}"
        data-get-bookmarks-by-tag-url="{% url 'bookmark:get_bookmarks_by_tag' '666' %}"
        data-get-bookmarks-by-keyword-url="{% url 'bookmark:get_bookmarks_by_keyword' '666' %}"
        data-get-tags-used-by-bookmarks-url="{% url 'bookmark:get_tags_used_by_bookmarks' %}"
        data-bookmark-detail-url="{% url 'bookmark-detail' '00000000-0000-0000-0000-000000000000' %}"
        data-bookmark-update-url="{% url 'bookmark:update' '00000000-0000-0000-0000-000000000000' %}"
        data-bookmark-create-url="{% url 'bookmark:create' %}"
        data-bookmark-sort-url="{% url 'bookmark:sort' %}"
        data-add-tag-url="{% url 'bookmark:add_tag' %}"
        data-remove-tag-url="{% url 'bookmark:remove_tag' %}"
        data-sort-pinned-tags-url="{% url 'bookmark:sort_pinned_tags' %}"
        data-pin-tag-url="{% url 'tag:pin' %}"
        data-unpin-tag-url="{% url 'tag:unpin' %}"
        data-store-in-session-url="{% url 'accounts:store_in_session' %}"
    >
    </div>

    {{ pinned_tags|json_script:"pinnedTags" }}

{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/bookmark-list" %}
{% endblock %}

{% block help %}

    <div class="d-none" id="help-text">
# Keyboard Shortcuts
- **Alt-Up**, **Alt-Down** *-* Select a bookmark
- **D** *-* Delete the selected bookmark
- **O** *-*  Open and delete the selected bookmark
- **Escape** *-* Unselect the selected bookmark
    </div>

{% endblock %}
