{% extends "base.html" %}

{% load vite_tags %}

{% block title %} Home {% endblock %}

{% block content %}

    <div id="react-root"
        data-todo-list-url="{% url 'todo:list' %}"
        data-drill-list-url="{% url 'drill:list' %}"
        data-bookmark-overview-url="{% url 'bookmark:overview' %}"
        data-bookmark-create-url="{% url 'bookmark:create' %}"
        data-blob-create-url="{% url 'blob:create' %}"
        data-get-calendar-events-url="{% url 'homepage:get_calendar_events' %}"
        data-exercise-detail-url-template="{% url 'fitness:exercise_detail' '00000000-0000-0000-0000-000000000000' %}"
        data-bookmark-click-url-template="{% url 'bookmark:click' '00000000-0000-0000-0000-000000000000' %}"
        data-artist-detail-url-template="{% url 'music:artist_detail' '00000000-0000-0000-0000-000000000000' %}"
        data-blob-detail-url-template="{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}"
        data-collection-detail-url-template="{% url 'collection:detail' '00000000-0000-0000-0000-000000000000' %}"
        data-tasks="{{ tasks_json }}"
        data-drill-progress="{{ drill_progress_json }}"
        data-overdue-exercises="{{ overdue_exercises_json }}"
        data-daily-bookmarks="{{ daily_bookmarks_json }}"
        data-pinned-bookmarks="{{ pinned_bookmarks_json }}"
        data-bookmarks="{{ bookmarks_json }}"
        data-music="{{ music_json }}"
        data-quote="{{ quote_json }}"
        data-random-image-info="{{ random_image_info_json }}"
        data-default-collection="{{ default_collection_json }}"
    ></div>

{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/homepage" %}
{% endblock %}
