{% extends "base.html" %}
{% load vite_tags %}

{% block title %} Drill :: Question {% endblock %}

{% block extra_head %}
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.19.1/full/pyodide.js"></script>
    <style>
        #content > .row.flex-grow-1 > .col-lg-12 {
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="react-root" class="flex-grow-1 d-flex flex-column min-h-0"
        data-drill-list-url="{% url 'drill:list' %}"
        data-drill-add-url="{% url 'drill:add' %}"
        data-drill-add-with-tag-url="{% if object.tags.all %}{% url 'drill:add_with_tag' object.tags.all.0 %}{% else %}{% url 'drill:add' %}{% endif %}"
        data-drill-update-url="{% url 'drill:update' question.uuid %}"
        data-drill-study-url="{% url 'drill:study' %}"
        data-record-response-good-url="{% url 'drill:record_response' question.uuid 'good' %}"
        data-record-response-hard-url="{% url 'drill:record_response' question.uuid 'hard' %}"
        data-record-response-easy-url="{% url 'drill:record_response' question.uuid 'easy' %}"
        data-record-response-reset-url="{% url 'drill:record_response' question.uuid 'reset' %}"
        data-is-favorite-mutate-url="{% url 'drill:is_favorite_mutate' %}"
        data-related-objects-url="{% url 'drill:related_objects' object.uuid %}"
        data-new-object-url="{% url 'blob:add_related_object' %}"
        data-remove-object-url="{% url 'blob:remove_related_object' %}"
        data-sort-related-objects-url="{% url 'blob:sort_related_objects' %}"
        data-edit-related-object-note-url="{% url 'blob:update_related_object_note' %}"
        data-search-names-url="{% url 'search:search_names' %}"
        data-get-related-tags-url="{% url 'tag:get_related_tags' %}"
        data-sql-playground-url="{% url 'homepage:sql' %}"
        data-start-study-session-url="{% url 'drill:start_study_session' %}"
        data-current-path="{{ request.get_full_path }}"
        data-question="{{ question_json }}"
        data-last-response="{{ last_response.response|default:'' }}"
        data-tag-info="{{ tag_info_json }}"
        data-intervals="{{ intervals_json }}"
        data-reverse-question="{{ reverse_question|yesno:'true,false' }}"
        data-study-session-progress="{{ study_session_progress|default:0 }}"
        data-study-session="{{ study_session_json|default:'null' }}"
        data-sql-db="{{ sql_db_json|default:'null' }}"
    >
    </div>

{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/drill-question" %}
{% endblock %}

{% block help %}

    <div class="d-none" id="help-text">
# Keyboard Shortcuts
- **Space** *-* Show Answer
- **Right-Arrow** *-* Skip
- **E** *-* Easy
- **G** *-* Good
- **H** *-* Hard
- **R** *-* Reset Question
    </div>

{% endblock %}
