{% extends "base.html" %}
{% load vite_tags %}

{% block title %}Feeds{% endblock %}

{% block css %}
    {% vite_asset "dist/css/bordercore" %}
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/feed" %}
{% endblock %}

{% block content %}
    <div
        id="react-root"
        data-feed-sort-url="{% url 'feed:sort' %}"
        data-store-in-session-url="{% url 'accounts:store_in_session' %}"
        data-edit-feed-url="{% url 'feed-detail' '00000000-0000-0000-0000-000000000000' %}"
        data-new-feed-url="{% url 'feed-list' %}"
        data-feed-check-url="{% url 'feed:check_url' 666 %}"
        data-feed-list="{{ feed_list }}"
        data-current-feed="{{ current_feed }}"
    ></div>
{% endblock %}
