{% extends "base.html" %}
{% load vite_tags %}

{% block title %}Search{% endblock %}

{% block css %}
    {% vite_asset "dist/css/bordercore" %}
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/search" %}
{% endblock %}

{% block content %}
    <div
        id="react-root"
        data-tag-search-url="{% url 'tag:search' %}?query="
        data-tags-changed-url="{% url 'search:kb_search_tag_detail' 666 %}"
        data-term-search-url="{% url 'search:search' %}"
        data-semantic-search-url="{% url 'search:semantic' %}"
        data-tag-url="{% url 'search:kb_search_tag_detail' 666 %}"
        data-images-url="{{ IMAGES_URL }}"
        data-current-doctype="{{ doctype_filter.0|default:'' }}"
        data-exact-match="{{ request.GET.exact_match|default:'No' }}"
        data-sort-by="{{ request.session.search_sort_by|default:'_score' }}"
        data-has-request="{% if request.GET %}true{% else %}false{% endif %}"
        data-count="{{ count|default:0 }}"
    ></div>

    {{ results|json_script:"results" }}
    {{ aggregations|json_script:"aggregations" }}
    {{ paginator|json_script:"paginator" }}
    {{ request.GET.term_search|json_script:"searchTerm" }}
    {{ request.GET.semantic_search|json_script:"searchSemantic" }}
{% endblock %}
