{% extends "base.html" %}
{% load vite_tags %}

{% block title %}Search :: Tag Detail{% endblock %}

{% block css %}
    {% vite_asset "dist/css/bordercore" %}
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/tag-detail" %}
{% endblock %}

{% block content %}
    <div
        id="react-root"
        data-tag-search-url="{% url 'tag:search' %}?query="
        data-tags-changed-url="{% url 'search:kb_search_tag_detail' 666 %}"
        data-term-search-url="{% url 'search:search' %}"
        data-store-in-session-url="{% url 'accounts:store_in_session' %}"
        data-saved-tab="{{ search_tag_detail_current_tab|default:'' }}"
    ></div>

    {{ doctype_counts|json_script:"doctypeCounts" }}
    {{ tag_counts|json_script:"tagCounts" }}
    {{ results|json_script:"results" }}
    {{ tag_list|json_script:"initial-tags" }}
    {{ doctypes|json_script:"doctypes" }}
{% endblock %}
