{% extends "base.html" %}
{% load vite_tags %}

{% block title %}{{ object.name }}{% endblock %}

{% block nav %}
    <div class="d-flex mb-3">
        <div class="me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'fitness:summary' %}">Exercises</a>
                </li>
                <li class="breadcrumb-item active">
                    {{ object.name }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="react-root"
        data-change-active-status-url="{% url 'fitness:change_active_status' %}"
        data-edit-note-url="{% url 'fitness:edit_note' %}"
        data-get-workout-data-url="{% url 'fitness:get_workout_data' %}?uuid={{ object.uuid }}&page_number="
        data-update-schedule-url="{% url 'fitness:update_schedule' %}"
        data-update-rest-period-url="{% url 'fitness:update_rest_period' %}"
        data-add-workout-url="{% url 'fitness:add' object.uuid %}"
        data-exercise-uuid="{{ object.uuid }}"
        data-exercise-name="{{ object.name }}"
        data-has-weight="{{ object.has_weight|yesno:'true,false' }}"
        data-has-duration="{{ object.has_duration|yesno:'true,false' }}"
        data-csrf-token="{{ csrf_token }}"
        data-activity-info="{{ activity_info_json }}"
        data-related-exercises="{{ related_exercises_json }}"
        data-targeted-muscles="{{ targeted_muscles_json }}"
        data-last-workout-date="{{ last_workout_date }}"
        data-description="{{ description_escaped }}"
        data-note="{{ object.note|escapejs }}"
        data-delta-days="{{ delta_days|default:7 }}"
        data-latest-weight="{{ latest_weight_json }}"
        data-latest-reps="{{ latest_reps_json }}"
        data-latest-duration="{{ latest_duration_json }}"
    ></div>
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/fitness-exercise-detail" %}
{% endblock %}
