{% extends "base.html" %}
{% load vite_tags %}

{% block title %}Fitness :: Summary{% endblock %}

{% block content %}
    {{ summary_payload|json_script:"fitness-summary-data" }}
    <div id="react-root"
        data-inactive-details-url="{{ inactive_details_url }}"
    ></div>
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/fitness-summary" %}
{% endblock %}

{% block help_page %}
# Keyboard Shortcuts
- **Ctrl-K** / **⌘K** *-* Focus the search box
{% endblock %}
