{% load vite_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class="h-100" color-mode="dark">
    <head>
        <meta charset="utf-8" />
        <title>Bordercore :: Login</title>
        {% vite_asset "dist/css/bordercore" %}
    </head>
    <body class="login-body h-100">
        <div
            id="react-root"
            class="h-100"
            data-message="{{ message|default:'' }}"
            data-initial-username="{% firstof request.POST.username request.COOKIES.bordercore_username '' %}"
            data-login-url="{% url 'accounts:login' %}"
            data-next-url="{% firstof next '/' %}"
            data-csrf-token="{{ csrf_token }}"
        ></div>
        {% vite_asset "dist/js/login" %}
    </body>
</html>
