{% extends "base_react.html" %}
{% load vite_tags %}

{% block title %}Artist List{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/album-list" %}
{% endblock %}

{% block content %}
<div id="react-root"
     data-artists="{{ artists_json }}"
     data-nav="{{ nav_json }}"
     data-selected-letter="{{ selected_letter }}"
     data-unique-artist-letters="{{ unique_artist_letters_json }}"
     data-album-list-base-url="{% url 'music:album_list' %}"
     data-artist-detail-url-template="{% url 'music:artist_detail' '00000000-0000-0000-0000-000000000000' %}"
     data-images-url="{{ IMAGES_URL }}">
</div>
{% endblock %}
