{% extends "base.html" %}
{% load vite_tags %}

{% block title %}{{ artist.name }} - Music{% endblock %}

{% block crumb_leaf %}artist{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/artist-detail" %}
{% endblock %}

{% block content %}
<div id="react-root"
     data-artist="{{ artist_json }}"
     data-albums="{{ albums_json }}"
     data-compilation-albums="{{ compilation_albums_json }}"
     data-songs="{{ songs_json }}"
     data-playlists="{{ playlists_json }}"
     data-set-song-rating-url="{% url 'music:set_song_rating' %}"
     data-get-playlists-url="{% url 'playlist-list' %}"
     data-add-to-playlist-url="{% url 'music:add_to_playlist' %}"
     data-mark-listened-to-url-template="{% url 'mark_song_as_listened_to' '00000000-0000-0000-0000-000000000000' %}"
     data-update-artist-image-url="{% url 'music:update_artist_image' %}"
     data-edit-song-url-template="{% url 'music:update' '00000000-0000-0000-0000-000000000000' %}"
     data-album-detail-url-template="{% url 'music:album_detail' '00000000-0000-0000-0000-000000000000' %}"
     data-song-media-url="{{ MEDIA_URL_MUSIC }}songs/"
     data-images-url="{{ IMAGES_URL }}"
     data-static-url="{{ STATIC_URL }}"
     data-default-playlist="{{ request.session.music_playlist|default:'' }}"
     data-has-artist-image="{{ artist_image|yesno:'true,false' }}">
</div>
{% endblock %}
