{% extends "base.html" %}
{% load vite_tags %}

{% block title %}{{ artist.name }} - Music{% endblock %}

{% block nav %}
<nav class="d-flex justify-content-between align-items-center ms-5">
    <ul class="breadcrumb mb-0 pt-0 pb-0">
        <li class="breadcrumb-item mt-1">
            <a href="{% url 'music:list' %}" class="icon-hover glow d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 576 512">
                    <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item active">{{ artist.name }}</li>
    </ul>
    <div id="artist-detail-dropdown" class="me-3"></div>
</nav>
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/artist-detail" %}
{% endblock %}

{% block content %}
<div id="react-root"
     data-artist="{{ artist_json }}"
     data-albums="{{ albums_json }}"
     data-compilation-albums="{{ compilation_albums_json }}"
     data-songs="{{ songs_json }}"
     data-playlists="{{ playlists_json }}"
     data-set-song-rating-url="{% url 'music:set_song_rating' %}"
     data-get-playlists-url="{% url 'playlist-list' %}"
     data-add-to-playlist-url="{% url 'music:add_to_playlist' %}"
     data-mark-listened-to-url-template="{% url 'mark_song_as_listened_to' '00000000-0000-0000-0000-000000000000' %}"
     data-update-artist-image-url="{% url 'music:update_artist_image' %}"
     data-edit-song-url-template="{% url 'music:update' '00000000-0000-0000-0000-000000000000' %}"
     data-album-detail-url-template="{% url 'music:album_detail' '00000000-0000-0000-0000-000000000000' %}"
     data-song-media-url="{{ MEDIA_URL_MUSIC }}songs/"
     data-images-url="{{ IMAGES_URL }}"
     data-static-url="{{ STATIC_URL }}"
     data-csrf-token="{{ csrf_token }}"
     data-default-playlist="{{ request.session.music_playlist|default:'' }}"
     data-has-artist-image="{{ artist_image|yesno:'true,false' }}">
</div>
{% endblock %}
