{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block nav %}

    <div class="d-flex mb-3" id="vue-nav">
        <div class="music-nav me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0" v-cloak>
                <li class="breadcrumb-item">
                    <a href="{% url 'music:list' %}">
                        <font-awesome-icon icon="home" class="glow"></font-awesome-icon>
                    </a>
                </li>
                <li class="breadcrumb-item active">{{ artist.name }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div id="vue-app" class="row g-0 h-100 align-items-start mx-2">
        <div class="sticky-top col-lg-3 d-flex flex-column">

            <div class="card-grid ms-2">

            {% if artist_image %}
                <div @drop.prevent="handleImageDrop($event)" @dragover.prevent="isOver = true" @dragenter.prevent
                    @dragleave.prevent="isOver = false" @drop="isOver = false" class="drag-target" :class="{'drag-over': isOver}">
                    <img id="artist_image" src="{{ IMAGES_URL }}artist_images/{{ artist.uuid }}" class="mw-100" data-bs-toggle="modal" data-bs-target="#artistImageModal" />
                </div>
            {% endif %}

            {% if song_list %}
                <audio-player
                    ref="audioPlayer"
                    :track-list="songList"
                    song-url="{{ MEDIA_URL_MUSIC }}songs/"
                    mark-listened-to-url="{% url 'mark_song_as_listened_to' '00000000-0000-0000-0000-000000000000' %}"
                    @current-song="onCurrentSong"
                    @is-playing="handleIsPlaying"
                >
                </audio-player>
            {% endif %}

            </div>

        </div>

        <div class="col-lg-9">

            <div class="me-2">

                <div class="card-grid ms-2">

                    <div class="d-flex">
                        <h2 class="ms-3">
                            {{ artist.name }}
                        </h2>

                        <drop-down-menu
                            ref="dropDownMenu"
                            :links="artistDetailMenuItems"
                        >
                        </drop-down-menu>
                    </div>

                    {% if album_list %}

                        <card title="">

                            <template v-slot:title-slot>
                                <h4 class="fw-bold">
                                    {{ album_list|length }} album{{ album_list|pluralize }}
                                </h4>
                            </template>

                            <template v-slot:content>

                                <div class="d-flex flex-wrap">

                                {% for album in album_list %}

                                    <div class="d-flex flex-column w-25 hoverable p-2">
                                        <div class="mt-3">
                                            <a href="{% url 'music:album_detail' album.uuid %}">
                                                <img src="{{ IMAGES_URL }}album_artwork/{{ album.uuid }}" height="150" width="150" />
                                            </a>
                                        </div>
                                        <div class="mt-2 fw-bold">
                                            {{ album.title }}
                                        </div>
                                        <div>
                                            {{ album.year }}
                                        </div>
                                    </div>

                                {% endfor %}

                                </div>

                            </template>

                        </card>

                    {% endif %}

                    {% if compilation_album_list %}

                        <card title="">

                            <template v-slot:title-slot>
                                <h4 class="font-weigth-bold">
                                    Songs from {{ compilation_album_list|length }} compilation album{{ compilation_album_list|pluralize }}
                                </h4>
                            </template>

                            <template v-slot:content>

                                <div class="d-flex flex-wrap">

                                    {% for album in compilation_album_list %}

                                        <div class="d-flex flex-column w-25 hoverable p-2">
                                            <div class="mt-3">
                                                <a href="{% url 'music:album_detail' album.uuid %}">
                                                    <img src="{{ IMAGES_URL }}album_artwork/{{ album.uuid }}" height="150" width="150" />
                                                </a>
                                            </div>
                                            <div class="mt-2 fw-bold">
                                                {{ album.title }}
                                            </div>
                                            <div>
                                                {{ album.year }}
                                            </div>
                                        </div>

                                    {% endfor %}

                                </div>

                            </template>

                        </card>

                    {% endif %}

                    {% if song_list %}

                        <card title="" id="album-song-list">

                            <template v-slot:title-slot>
                                <h4 class="fw-cold">
                                    {{ song_list|length }} song{{ song_list|pluralize }}
                                </h4>
                            </template>

                            <template v-slot:content>

                                <o-table
                                    :data="songList"
                                    :default-sort="['year','desc']"
                                    hoverable
                                    ref="table"
                                    :row-class="(row, index) => 'song hover-target cursor-pointer'"
                                    @cell-click="onSongClicked"
                                >

                                    <o-table-column
                                        field="title"
                                        label="Title"
                                        sortable v-slot="props"
                                    >
                                        <span v-if="selectedSong.uuid === props.row.uuid" class="me-2">
                                            <img id="isPlaying" src="{{ STATIC_URL }}img/equaliser-animated-green.gif" width="20" height="20" />
                                        </span>
                                        [[ props.row.title ]]
                                    </o-table-column>

                                    <o-table-column field="note" label="" sortable v-slot="props">
                                        <span v-if="props.row.note" v-tooltip="{ content: onShowNote(props.row), html: true }">
                                            <font-awesome-icon icon="sticky-note" class="glow text-primary"></font-awesome-icon>
                                        </span>
                                    </o-table-column>

                                    <o-table-column field="year" label="Year" :th-attrs="()=> ({ class: 'text-nowrap' })" sortable v-slot="props">
                                        <span>[[ props.row.year_effective ]]</span>
                                    </o-table-column>

                                    <o-table-column field="rating" label="Rating" :th-attrs="()=> ({ class: 'text-end' })" sortable v-slot="props">
                                        <div class="ms-auto">
                                            <div class="rating-container d-flex" :class="{'d-none': props.row.rating === ''}"
                                                 @mouseleave="handleRatingMouseLeave">
                                                <span v-for="starCount in Array(5).fill().map((x,i)=>i)"
                                                      :key="starCount"
                                                      class="rating me-1"
                                                      :class="{'rating-star-selected': parseInt(props.row.rating, 10) > starCount}"
                                                      :data-rating="starCount"
                                                      @click="setRating($event, props.row, starCount, '{% url 'music:set_song_rating' %}', songList)"
                                                      @mouseover="handleRatingMouseOver($event, starCount)"
                                                >
                                                    <font-awesome-icon icon="star"></font-awesome-icon>
                                                </span>
                                            </div>
                                        </div>
                                    </o-table-column>

                                    <o-table-column field="length" label="Length" sortable v-slot="props">
                                        <span>[[ props.row.length ]]</span>
                                    </o-table-column>

                                    <o-table-column field="uuid" label="" :td-attrs="() => ({ class: 'col-action text-center align-middle' })" cell-class="col-action text-center align-middle" v-slot="props">
                                        <drop-down-menu :show-on-hover="true">
                                            <template #dropdown>
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickEdit(props.row.uuid)">
                                                        <font-awesome-icon icon="pencil-alt" class="text-primary me-3"></font-awesome-icon>Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickAddToPlaylist(props.row.uuid)">
                                                        <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>Add to playlist
                                                    </a>
                                                </li>
                                            </template>
                                        </drop-down-menu>
                                    </o-table-column>
                                </o-table>
                            </template>

                        </card>

                        <add-to-playlist
                            ref="addToPlaylist"
                            get-playlists-url="{% url 'playlist-list' %}"
                            add-to-playlist-url="{% url 'music:add_to_playlist' %}?query="
                            default-playlist="{{ request.session.music_playlist }}"
                        >
                        </add-to-playlist>

                    {% endif %}

                </div>

            </div>

        </div>

        <div class="modal fade" id="modalEditArtistImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Edit Artist Image</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <label class="col-lg-4 col-form-label fw-bold text-end">Artist Image</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <input type="text" name="filename" :value="artistDetailFilename" class="form-control" autocomplete="off" />
                                    <span class="input-group-append">
                                        <label class="btn btn-primary">Choose image
                                            <input id="id_image" type="file" name="cover_image" hidden accept="image/*" @change="onArtistImageSelect" />
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input id="btn-action" class="btn btn-primary" data-bs-dismiss="modal" type="button" value="Edit" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="artistImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered w-75 mw-100" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <img src="{{ IMAGES_URL }}artist_images/{{ artist.uuid }}" class="w-100" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block help %}
        <div class="d-none" id="help-text">
*Note:* You can drag an image file onto the artist image to change it.
        </div>
    {% endblock %}

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ song_list|json_script:"songList" }}

    <script type="text/javascript" charset="utf-8">

        const navApp = createApp({
            name: "Nav",
            components: {
                FontAwesomeIcon,
            },
        });
        navApp.mount("#vue-nav");

        const app = createApp({
            name: "SongList",
            delimiters: ["[[", "]]"],
            components: {
                AddToPlaylist,
                AudioPlayer,
                Card,
                DropDownMenu,
                FontAwesomeIcon,
            },
            setup() {
                const artistDetailFilename = ref("");
                const artistDetailMenuItems = ref([
                    {
                        id: uuidv4(),
                        title: "Artist Info",
                        url: "#",
                        clickHandler: handleArtistInfo,
                        icon: "info",
                    },
                    {
                        id: uuidv4(),
                        title: "Edit Artist Image",
                        url: "#",
                        clickHandler: handleEditArtistImage,
                        icon: "pencil-alt",
                    },
                ]);
                const isOver = ref(false);
                const selectedSong = ref({});
                const songList = JSON.parse(document.getElementById("songList").textContent)

                const { handleRatingMouseLeave, handleRatingMouseOver, setRating } = mouseRating();

                const addToPlaylist = ref(null);
                const audioPlayer = ref(null);

                function getStarClass(rating, currentRating) {
                    if (rating <= currentRating - 1) {
                        return "rating-star-selected";
                    }
                    return "";
                }

                function handleArtistInfo() {
                    EventBus.$emit(
                        "chat",
                        {
                            "content": "Tell me about the artist or band {{ artist.name }}",
                        },
                    );
                };

                function onCurrentSong(songNumber) {
                    if (songNumber === -1) {
                        selectedSong.value = {};
                        return;
                    }
                    selectedSong.value = songList[songNumber];
                }

                function handleIsPlaying(isPlaying) {
                    let src = null;
                    if (isPlaying) {
                        src = "{{ STATIC_URL }}img/equaliser-animated-green.gif";
                    } else {
                        src = "{{ STATIC_URL }}img/equaliser-animated-green-frozen.gif";
                    }

                    document.getElementById("isPlaying").src = src;
                };

                function onShowNote(song) {
                    return markdown.render(song.note);
                }

                function onSongClicked(row, column, rowIndex, columnIndex) {
                    // Don't play the song if we've clicked on the
                    //  'on-hover' menu or the rating or note columns.
                    if (column.field !== "uuid" && column.field !== "rating" && column.field !== "note") {
                        audioPlayer.value.playTrack(row.uuid);
                        selectedSong.value = row;
                    }
                }

                function onClickEdit(uuid) {
                    window.location="{% url 'music:update' '00000000-0000-0000-0000-000000000000' %}?return_url={{ request.get_full_path }}".replace(/00000000-0000-0000-0000-000000000000/, uuid);
                }

                function onClickAddToPlaylist(uuid) {
                    addToPlaylist.value.openModal(uuid);
                }

                function handleEditArtistImage() {
                    const modal = new Modal("#modalEditArtistImage");
                    modal.show();
                }

                function handleImageDrop(evt) {
                    const image = evt.dataTransfer.files[0];
                    if (image.type.indexOf("image/") >= 0) {
                        uploadArtistImage(image);
                    }
                }

                function onArtistImageSelect(evt) {
                    const image = document.getElementById("id_image").files[0];
                    uploadArtistImage(image);
                }

                function uploadArtistImage(image) {
                    const formData = new FormData();
                    formData.append("artist_uuid", "{{ artist.uuid }}");
                    formData.append("image", image);

                    axios.post("{% url "music:update_artist_image" %}", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    }).then(response => {
                        artistDetailFilename.value = image.name;
                        const artistImage = document.getElementById("artist_image");
                        artistImage.src = artistImage.src + "?" + new Date().getTime();
                    });
                }

                return {
                    addToPlaylist,
                    artistDetailFilename,
                    artistDetailMenuItems,
                    audioPlayer,
                    getStarClass,
                    handleImageDrop,
                    handleIsPlaying,
                    handleRatingMouseLeave,
                    handleRatingMouseOver,
                    handleEditArtistImage,
                    isOver,
                    onArtistImageSelect,
                    onClickAddToPlaylist,
                    onClickEdit,
                    onCurrentSong,
                    onShowNote,
                    onSongClicked,
                    selectedSong,
                    setRating,
                    songList,
                    uploadArtistImage,
                };
            },
        });
        app.use(FloatingVue);
        app.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        app.mount("#vue-app");

    </script>

{% endblock %}
