{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block content %}

    {% include "common/processing.html" %}

    <div id="vue-app" class="row g-0 h-100">
        <div class="col-lg-3 d-flex flex-column">

            <div class="w-100" v-cloak>

                <transition name="fade">
                    <div v-if="songInfo.dupeSongs.length > 0" class="card-body">
                        <h6 class="text-warning mb-2 text-center">
                            Possible duplicate songs found
                        </h6>
                        <div v-for="dupe in songInfo.dupeSongs" class="my-2">
                            <hr class="divider" />
                            <div class="d-flex">
                                <font-awesome-icon icon="music" class="text-secondary mt-2"></font-awesome-icon>
                                <div class="ms-2">
                                    <a :href="dupe.url" target="bc-dupe-song">[[ dupe.title ]]</a>
                                    <div v-if="dupe.note" class="dupe-song-note text-truncate">
                                        [[ dupe.note ]]
                                    </div>
                                    <div v-if="dupe.album_name">
                                        <a class="text-primary" :href="dupe.album_url">[[ dupe.album_name ]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>

                <card v-if="songInfo.songLength !== null" title="Song Info" class="backdrop-filter ms-3">
                    <template v-slot:content>
                        <ul>
                            <li>Song Length <span class="ms-1 text-primary">[[ songInfo.songLengthPretty ]]</span></li>
                            <li>Last Played <span class="ms-1 text-primary">[[ songInfo.songLastPlayed ]]</span></li>
                            <li v-if="songInfo.songTimesPlayed > 0">Times Played <span class="ms-1 text-primary">[[ songInfo.songTimesPlayed ]]</span></li>
                            {% if action == "New" %}
                                <li>Song Size <span class="ms-1 text-primary">[[ songInfo.songSize ]]</span></li>
                                <li>Sample Rate <span class="ms-1 text-primary">[[ songInfo.sampleRate ]]</span></li>
                                <li>Bit Rate <span class="ms-1 text-primary">[[ songInfo.bitRate ]]</span></li>
                            {% endif %}
                        </ul>
                    </template>
                </card>

                <card title="Tag Suggestions" class="backdrop-filter ms-3">
                    <template v-slot:content>
                        <hr class="divider" />
                        <ul class="list-group interior-borders">
                            {% for tag in tag_counts %}
                                <li class="list-with-counts ps-2 py-1 pe-2 d-flex" @click.prevent="handleTagClick('{{ tag.name }}')">
                                    <div class="text-truncate">
                                        {{ tag.name }}
                                    </div>
                                    <div class="ms-auto me-1">
                                        <span class="px-2 badge rounded-pill">
                                            {{ tag.count }}
                                        </span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </template>
                </card>

            </div>

            {% if action == "New" %}
                <div v-if="songInfo.songLength === null" class="flex-shrink-0">
                    <card title="" class="flex-shrink-0 backdrop-filter ms-3">
                        <template v-slot:content>
                            <div>
                                Choose the local MP3 file containing the song you want to upload. Any embedded <strong>ID3v2</strong> tags will be scanned and the corresponding form fields will be populated.
                            </div>
                        </template>
                    </card>
                </div>
            {% endif %}

        </div>

        <div class="col-lg-8 h-100">

            <div v-cloak>
                {% if request.POST.Go and not form.errors %}
                    <div class="alert alert-success offset-lg-3">Post {{ action }}ed</div>
                {% endif %}

                <p class="lead offset-lg-3 fw-bold ps-2">{{ action }} Song</p>

                <form enctype="multipart/form-data" id="song-form" action="{{ request.path }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="return_url" value="{{ request.GET.return_url }}" />

                {% if form.non_field_errors %}
                    <div class="row">
                        <div class="col-lg-9 offset-lg-3">
                            <div class="form-error mb-2">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <input type="hidden" name="rating" :value="rating" />
                <input type="hidden" name="length" :value="songLength" />

                {% if action == "New" %}
                    <div class="row mb-3">
                        <label class="col-lg-3 col-form-label fw-bold text-end">File</label>

                        <div class="col-lg-9">
                            <div class="input-group">

                                <input type="text" name="filename" :value="filename" class="form-control" id="id_filename" autocomplete="off" />

                                <span class="input-group-append">
                                    <label class="btn btn-primary">Choose song
                                        <input type="file" id="id_file" name="song" hidden accept="audio/*" @change="handleSongChange" @blur="handleSongDupeCheck()" />
                                    </label>
                                </span>

                            </div>
                        </div>
                    </div>
                {% endif %}

                {% for field in form %}
                    {% if field.label == "Rating" %}
                        <div class="row align-items-center mb-3">
                            <label class="col-lg-3 col-form-label fw-bold text-end">Rating</label>

                            <div class="col-lg-9" @mouseleave="handleRatingMouseLeave">
                                <span
                                    v-for="starCount in Array(5).fill().map((x,i)=>i)"
                                    :key="starCount"
                                    class="rating-no-hover me-1"
                                    :class="{'rating-star-selected': rating > starCount}"
                                    :data-rating="starCount"
                                    @click="setRating($event, starCount)"
                                    @mouseover="handleRatingMouseOver($event, starCount)"
                                >
                                    <font-awesome-icon icon="star"></font-awesome-icon>
                                </span>
                            </div>
                        </div>
                    {% elif field.label == "Tags" %}

                        <div class="{% if field.errors %} error{% endif %} row mb-3">
                            <label class="col-lg-3 col-form-label fw-bold text-end">Tags</label>

                            <div class="col-lg-9">
                                <tags-input
                                    ref="tagsInput"
                                    id="id_tags"
                                    search-url="{% url 'tag:search' %}?query=">
                                </tags-input>
                            </div>
                    {% for error in field.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                        </div>

                    {% elif field.label == "Artist" %}

                        <div class="{% if field.errors %} error{% endif %} row mb-3">
                            <label class="col-lg-3 col-form-label fw-bold text-end">Artist</label>

                            <div class="col-lg-9">
                                <select-value
                                    ref="selectValue"
                                    label="artist"
                                    id="id_artist"
                                    name="artist"
                                    search-url="{% url 'music:search_artists' %}?term="
                                    place-holder=""
                                    @select="handleSongDupeCheck()"
                                    :bolden-options="true"
                                >
                                </select-value>
                            </div>
                            {% for error in field.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% elif field.label == "Compilation" %}

                        <div class="{% if field.errors %} error{% endif %} row align-items-center mb-3">
                            <div class="col-lg-9 offset-lg-3 form-inline">
                                <div class="d-flex align-items-center">
                                    <o-switch v-model="isCompilation" name="isCompilation"></o-switch>
                                    <div class="ms-2">Compilation</div>
                                </div>
                            </div>
                        </div>

                        <div v-if="isCompilation" class="{% if field.errors %} error{% endif %} row mb-3" id="album_artist_field">
                            <label class="col-lg-3 col-form-label fw-bold text-end">Album Artist</label>
                            <div class="col-lg-9">
                                <input class="form-control" id="id_album_artist" name="album_artist" type="text" value="Various Artists" autocomplete="off" />
                            </div>
                        </div>

                    {% elif field.label != 'Length' %}

                        <div class="{% if field.errors %} error{% endif %} row mb-3">
                            <label class="col-lg-3 col-form-label fw-bold text-end">{{ field.label }}</label>

                            <div class="col-lg-9">
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}
                            </div>

                        </div>

                    {% endif %}
                {% endfor %}

                {% if form.instance.album.title %}
                    <div class="row align-items-center mb-3">
                        <label class="col-lg-3 col-form-label fw-bold text-end">Album</label>
                        <label class="col-lg-9 text-start mb-0 form-no-input">{{ form.instance.album.title }}</label>
                    </div>
                {% endif %}

                <div>
                    <div class="col-lg-9 offset-lg-3">
                        <input class="btn btn-primary ms-2" type="submit" name="Go" value="Save">
                        {% if form.instance.id %}
                            <input class="btn btn-secondary ms-2" type="submit" name="Go" value="Delete" @click="handleSongDelete">
                        {% endif %}
                        <a class="ms-3" {% if request.GET.return_url %}href="{{ request.GET.return_url }}" {% else %}href="{% url 'music:list' %}"{% endif %}>Cancel</a>
                    </div>
                </div>

                </form>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ artist_name|json_script:"artistName" }}
    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        const app = createApp({
            name: "SongForm",
            components: {
                Card,
                FontAwesomeIcon,
                SelectValue,
                TagsInput,
            },
            delimiters: ["[[", "]]"],
            setup() {
                const filename = ref("");
                const rating = ref({{ form.rating.value|default:""}});
                const isCompilation = ref(false);
                const uuid = "{{ song.uuid }}";
                const songInfo = ref({
                    {% if action == "New" %}
                    songLength: null,
                    songLengthPretty: null,
                    {% else %}
                    songUuid: "{{ song.uuid }}",
                    songLength: {{ song.length }},
                    songLengthPretty: "{{ song_length_pretty }}",
                    songLastPlayed: "{{ last_time_played }}",
                    songTimesPlayed: "{{ song.times_played }}",
                    {% endif %}
                    songSize: null,
                    sampleRate: null,
                    bitRate: null,
                    dupeSongs: [],
                });

                const artistName = JSON.parse(document.getElementById("artistName").textContent);
                const { handleRatingMouseLeave, handleRatingMouseOver } = mouseRating();

                const selectValue = ref(null);
                const tagsInput = ref(null);

                const songLength = computed(() => {
                    return songInfo.value.songLength;
                });

                function handleTagClick(tagName) {
                    let tagList = document.getElementsByName("tags")[0].value.split(",");
                    // Ignore if we've already added this tag
                    if (tagList.includes(tagName)) {
                        return;
                    }
                    tagsInput.value.addTag(tagName);
                }

                function handleSongDupeCheck() {
                    const artist = document.getElementById("id_artist").value;
                    const title = document.getElementById("id_title").value;
                    if (!artist || !title) {
                        return;
                    }
                    doGet(
                        "{% url 'music:dupe_song_checker' %}?artist=" + artist + "&title=" + title,
                        (response) => {
                            let dupes = response.data.dupes;
                            if (songInfo.value.songUuid) {
                                songInfo.value.dupeSongs = dupes.filter((x) => x.uuid !== songInfo.value.songUuid);
                            } else {
                                songInfo.value.dupeSongs = dupes;
                            }
                        },
                        "Error checking for duplicate songs",
                    );
                }

                function handleSongChange(evt) {
                    filename.value = evt.target.files[0].name;

                    const song = document.getElementById("id_file").files[0];
                    const formData = new FormData();
                    formData.append("song", song);

                    const modal = new Modal("#modalProcessing");
                    modal.show();

                    axios.post("{% url "music:get_song_id3_info" %}", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    }).then((response) => {
                        const array = ["title", "artist", "year", "track", "album_name"];
                        array.forEach(function(item, index) {
                            data = response.data[item];
                            if (data) {
                                document.getElementById("id_" + item).value = data;
                                if (item === "artist") {
                                    selectValue.value.setValue(data);
                                }
                            }
                        });
                        songInfo.value.songLength = response.data.length;
                        songInfo.value.songLengthPretty = response.data.length_pretty;
                        songInfo.value.songLastPlayed = response.data.last_played;
                        songInfo.value.songSize = response.data.filesize;
                        songInfo.value.sampleRate = response.data.sample_rate;
                        songInfo.value.bitRate = response.data.bit_rate;

                        // Wait a tiny amount before closing the modal. If the song upload happens
                        //  really fast, then "hide" could be called too quickly after "show",
                        //  which prevents the modal from closing.
                        window.setTimeout(() => {
                            const modal = Modal.getInstance(document.getElementById("modalProcessing"));
                            modal.hide();
                        }, 500);

                        handleSongDupeCheck();
                    });
                }

                function setRating(evt, ratingParam) {
                    const els = evt.currentTarget.parentElement.querySelectorAll(".rating");
                    for (const el of els) {
                        el.classList.remove("rating-star-hovered");
                        if (parseInt(el.getAttribute("data-rating", 10)) < ratingParam + 1) {
                            el.classList.add("rating-star-selected");
                        } else {
                            el.classList.remove("rating-star-selected");
                        }
                    }
                    if (ratingParam + 1 === rating.value) {
                        // If we've selected the current rating, treat it
                        // as if we've de-selected a rating entirely
                        // and remove it.
                        rating.value = "";
                    } else {
                        rating.value = ratingParam + 1;
                    }
                    // We use $nextTick() to avoid Vue's :class handling
                    // on the star from interfering with its animation.
                    nextTick(() => {
                        animateCSS(evt.currentTarget, "heartBeat");
                    });
                }

                function handleSongDelete(evt) {
                    const formEl = document.getElementById("song-form");
                    formEl.setAttribute("action", "{% url 'music:delete' '00000000-0000-0000-0000-000000000000' %}".replace("00000000-0000-0000-0000-000000000000", uuid));
                    formEl.submit();
                }

                onMounted(() => {
                    {% if action == "Edit" %}
                    selectValue.value.setValue(artistName);
                    {% endif %}

                    // The title input is automatically generated by Django,
                    //  so use JavaScript to add an event handler after the fact.
                    useEvent("blur", handleSongDupeCheck, {id: "id_title"});
                })

                return {
                    artistName,
                    filename,
                    rating,
                    handleRatingMouseLeave,
                    handleRatingMouseOver,
                    handleSongChange,
                    handleSongDelete,
                    handleSongDupeCheck,
                    handleTagClick,
                    isCompilation,
                    selectValue,
                    setRating,
                    songInfo,
                    songLength,
                    tagsInput,
                }
            }
        });
        app.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        app.mount("#vue-app");

</script>

{% endblock %}
