{% extends "base.html" %}
{% load vite_tags %}

{% block title %}New Song{% endblock %}

{% block javascript_bundles %}
    {% vite_asset "dist/js/base-react" %}
    {% vite_asset "dist/js/song-create" %}
{% endblock %}

{% block content %}
    <div id="react-root"
         data-submit-url="{{ request.path }}"
         data-cancel-url="{% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url 'music:list' %}{% endif %}"
         data-artist-search-url="{% url 'music:search_artists' %}"
         data-tag-search-url="{% url 'tag:search' %}"
         data-dupe-check-url="{% url 'music:dupe_song_checker' %}"
         data-id3-info-url="{% url 'music:get_song_id3_info' %}"
         data-tag-suggestions="{{ tag_counts_json }}"
         data-source-options="{{ source_options_json }}"
         data-initial-source-id="{{ initial_source_id }}">
    </div>
{% endblock %}
