{% extends "base_react.html" %}
{% load vite_tags %}

{% block title %}Upload Album{% endblock %}

{% block javascript_bundles %}
    {% vite_asset "dist/js/base-react" %}
    {% vite_asset "dist/js/album-create" %}
{% endblock %}

{% block content %}
    <div id="react-root"
         data-scan-url="{% url 'music:scan_album_from_zipfile' %}"
         data-add-url="{% url 'music:add_album_from_zipfile' %}"
         data-tag-search-url="{% url 'tag:search' %}"
         data-song-sources="{{ song_sources_json }}"
         data-default-source-id="{{ default_source_id }}">
    </div>
{% endblock %}
