{% extends "base_react.html" %}
{% load vite_tags %}

{% block title %} Music {% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/music-dashboard" %}
{% endblock %}

{% block content %}

    {% if not collection_is_not_empty %}

        <div class="card-grid ms-2">
            <h3>
                Your music library is empty. Feel free to add a song to begin your collection.
            </h3>
            <div>
                <a href="{% url 'music:create' %}" class="btn btn-primary" role="button">
                    <i class="fa fa-plus me-2"></i>New song
                </a>
            </div>
        </div>

    {% else %}

        <div id="react-root"
             data-random-album="{{ random_album_json }}"
             data-playlists="{{ playlists_json }}"
             data-recent-played-songs="{{ recent_played_songs_json }}"
             data-initial-recent-albums="{{ recent_albums_json }}"
             data-initial-paginator="{{ paginator_info }}"
             data-collection-is-not-empty="{{ collection_is_not_empty|yesno:'true,false' }}"
             data-recent-albums-url="{% url 'music:recent_albums' 666 %}"
             data-recent-songs-url="{% url 'music:recent_songs' %}"
             data-create-playlist-url="{% url 'music:playlist_create' %}"
             data-tag-search-url="{% url 'tag:search' %}?doctype=song"
             data-create-song-url="{% url 'music:create' %}"
             data-create-album-url="{% url 'music:create_album' %}"
             data-album-list-url="{% url 'music:album_list' %}"
             data-images-url="{{ IMAGES_URL }}"
             data-csrf-token="{{ csrf_token }}">
        </div>

    {% endif %}

{% endblock %}
