{% extends "base.html" %}
{% load vite_tags %}

{% block title %}Playlist: {{ playlist.name }}{% endblock %}

{% block crumb_leaf %}playlist{% endblock %}

{% block nav %}{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/playlist-detail" %}
{% endblock %}

{% block content %}
<div id="react-root"
     data-playlist="{{ playlist_json }}"
     data-get-playlist-url="{% url 'music:get_playlist' playlist.uuid %}"
     data-sort-playlist-url="{% url 'music:sort_playlist' %}"
     data-delete-playlist-item-url-template="{% url 'playlistitem-detail' '00000000-0000-0000-0000-000000000000' %}"
     data-delete-playlist-url="{% url 'music:delete_playlist' playlist.uuid %}"
     data-update-playlist-url="{% url 'music:playlist_update' playlist.uuid %}"
     data-edit-song-url-template="{% url 'music:update' '00000000-0000-0000-0000-000000000000' %}"
     data-mark-listened-to-url-template="{% url 'mark_song_as_listened_to' '00000000-0000-0000-0000-000000000000' %}"
     data-song-media-url="{{ MEDIA_URL_MUSIC }}songs/"
     data-music-list-url="{% url 'music:list' %}"
     data-tag-search-url="{% url 'tag:search' %}?doctype=song"
     data-static-url="{{ STATIC_URL }}">
</div>
{% endblock %}
