{% extends "base.html" %}
{% load vite_tags %}

{% block title %}Tag: {{ tag_name }} - Music{% endblock %}

{% block crumb_leaf %}tag{% endblock %}

{% block nav %}{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/tag-search" %}
{% endblock %}

{% block content %}
<div id="react-root"
     data-tag-name="{{ tag_name }}"
     data-songs="{{ songs_json }}"
     data-albums="{{ albums_json }}"
     data-song-media-url="{{ MEDIA_URL_MUSIC }}songs/"
     data-mark-listened-to-url-template="{% url 'mark_song_as_listened_to' '00000000-0000-0000-0000-000000000000' %}"
     data-album-detail-url-template="{% url 'music:album_detail' '00000000-0000-0000-0000-000000000000' %}"
     data-artist-detail-url-template="{% url 'music:artist_detail' '00000000-0000-0000-0000-000000000000' %}"
     data-images-url="{{ IMAGES_URL }}"
     data-static-url="{{ STATIC_URL }}"
     data-music-list-url="{% url 'music:list' %}">
</div>
{% endblock %}
