{% extends "base.html" %}
{% load vite_tags %}

{% block title %} Books {% endblock %}

{% block content %}
    <div
        id="react-root"
        data-selected-letter="{{ selected_letter }}"
        data-base-url="{% url 'book_list' '' %}"
    ></div>

    <script type="application/json" id="books-data">
    {{ info|safe }}
    </script>

    <script type="application/json" id="alphabet-data">
    {{ alphabet_json|safe }}
    </script>
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/book-list" %}
{% endblock %}
