{% extends "base.html" %}

{% load dict_get %}

{% load favicon %}

{% block title %} Bordercore Metrics {% endblock %}

{% block content %}

    <div class="h-100" id="vue-app">

        <div class="h-100 row g-0 mx-2">

            <div class="col-lg-3 d-flex flex-column flex-grow-1">

                <div class="card-body h-100">

                    <h3 class="mb-4">Bordercore Testing Methodology</h3>

                    <h4 class="text-secondary mt-4">Unit Testing</h4>

                    Tests that primarily focus on the Django models and integration tests on the Django views.

                    <h4 class="text-secondary mt-4">Functional Testing</h4>

                    Selenium-based tests for the front-end.

                    <h4 class="text-secondary mt-4">Data Quality Testing</h4>

                    Check for inconsistent or missing data in the database.

                    <h4 class="text-secondary mt-4">Wumpus Testing</h4>

                    Check that the data stored in S3 is consistent with the data stored on wumpus.

                </div>

            </div>

            <div class="col-lg-3 d-flex flex-column">

                <card title="Unit Tests" class="hoverable flex-grow-0">
                    <template v-slot:content>
                        <hr class="divider" />
                        <div class="d-flex" @click="showTestResults('unit')">
                            <div class="flex-grow-1">
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Test Count</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["unit"]["test_count"] ]]
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Errors</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["unit"]["test_errors"] ]]
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Failures</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["unit"]["test_failures"] ]]
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Runtime</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["unit"]["test_time_elapsed"] ]]
                                    </div>
                                </div>
                            </div>
                            <div class="ms-3">
                                <font-awesome-icon class="ms-1 fa-3x" :class="statusUnit.class" :icon="statusUnit.font"></font-awesome-icon>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="item-name fw-bold">Date</div>
                            <div :class="{'text-danger': testResults['unit']['test_overdue']}" class="item-value ms-auto">
                                [[ testResults["unit"]["test_runtime"] ]]
                            </div>
                        </div>
                    </template>
                </card>

                <card title="Wumpus Tests" class="hoverable flex-grow-1">
                    <template v-slot:content>
                        <hr class="divider" />
                        <div class="d-flex" @click="showTestResults('wumpus')">
                            <div class="flex-grow-1">
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Test Count</div>
                                    <div class="ms-auto">
                                        [[ testResults["wumpus"]["test_count"] ]]
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Errors</div>
                                    <div class="ms-auto">
                                        [[ testResults["wumpus"]["test_errors"] ]]
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Failures</div>
                                    <div class="ms-auto">
                                        [[ testResults["wumpus"]["test_failures"] ]]
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Runtime</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["wumpus"]["test_time_elapsed"] ]]
                                    </div>
                                </div>
                            </div>
                            <div class="ms-3">
                                <font-awesome-icon class="ms-1 fa-3x" :class="statusWumpus.class" :icon="statusWumpus.font"></font-awesome-icon>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="item-name fw-bold">Date</div>
                            <div :class="{'text-danger': testResults['wumpus']['test_overdue']}" class="item-value ms-auto">
                                [[ testResults["wumpus"]["test_runtime"] ]]
                            </div>
                        </div>
                    </template>
                </card>

            </div>

            <div class="col-lg-3 d-flex flex-column">

                <card title="Functional Tests" class="hoverable flex-grow-0">

                    <template v-slot:content>
                        <hr class="divider" />
                        <div class="d-flex" @click="showTestResults('functional')">
                            <div class="flex-grow-1">
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Test Count</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["functional"]["test_count"] ]]
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Errors</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["functional"]["test_errors"] ]]
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Failures</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["functional"]["test_failures"] ]]
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Runtime</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["functional"]["test_time_elapsed"] ]]
                                    </div>
                                </div>
                            </div>
                            <div class="ms-3">
                                <font-awesome-icon class="ms-1 fa-3x" :class="statusFunctional.class" :icon="statusFunctional.font"></font-awesome-icon>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="item-name fw-bold">Date</div>
                            <div :class="{'text-danger': testResults['functional']['test_overdue']}" class="item-value ms-auto">
                                [[ testResults["functional"]["test_runtime"] ]]
                            </div>
                        </div>
                    </template>

                </card>

                <card title="Code Coverage" class="flex-grow-1">

                    <template v-slot:content>
                        <hr class="divider" />
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <div class="d-flex">
                                    <div class="item-name fw-bold">Coverage</div>
                                    <div class="item-value ms-auto">
                                        [[ testResults["coverage"]["line_rate"] ]]%
                                    </div>
                                </div>
                            </div>
                            <div class="ms-3">
                                <font-awesome-icon class="ms-1 fa-3x" :class="statusCoverage.class" :icon="statusCoverage.font"></font-awesome-icon>
                            </div>
                        </div>
                        <div class="metric-divider mt-2 pt-2">
                            <strong class="item-name">Date</strong>
                            <span :class="{'text-danger': testResults['coverage']['test_overdue']}" class="item-value">
                                [[ testResults["coverage"]["test_runtime"] ]]
                            </span>
                        </div>
                    </template>
                </card>

            </div>

            <div class="col-lg-3 d-flex flex-column">

                <div class="d-flex flex-grow-1">

                    <card title="Data Quality Tests" class="hoverable">
                        <template v-slot:content>
                            <hr class="divider" />
                            <div class="d-flex" @click="showTestResults('data')">
                                <div class="flex-grow-1">
                                    <div class="d-flex">
                                        <div class="item-name fw-bold">Test Count</div>
                                        <div class="item-value ms-auto">
                                            [[ testResults["data"]["test_count"] ]]
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="item-name fw-bold">Errors</div>
                                        <div class="item-value ms-auto">
                                            [[ testResults["data"]["test_errors"] ]]
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="item-name fw-bold">Failures</div>
                                        <div class="item-value ms-auto">
                                            [[ testResults["data"]["test_failures"] ]]
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="item-name fw-bold">Runtime</div>
                                        <div class="item-value ms-auto">
                                            [[ testResults["data"]["test_time_elapsed"] ]]
                                        </div>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <font-awesome-icon class="ms-1 fa-3x" :class="statusData.class" :icon="statusData.font"></font-awesome-icon>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="item-name fw-bold">Date</div>
                                <div :class="{'text-danger': testResults['data']['test_overdue']}" class="item-value ms-auto">
                                    [[ testResults["data"]["test_runtime"] ]]
                                </div>
                            </div>
                        </template>
                    </card>

                </div>

            </div>

        </div>

        <div id="modalTestOutput" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="myModalLabel" class="modal-title">
                            Test Output
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                    </div>
                    <div class="modal-body" v-html="testResults[selectedTest]['test_output']">
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}

{{ block.super }}

    <script type="text/javascript">

        const failure = {
            "class": "text-danger",
            "font": "exclamation-triangle",
        };

        const success = {
            "class": "text-success",
            "font": "check",
        };

        const coverageMinimum = 80;

        const app = createApp({
            delimiters: ["[[", "]]"],
            components: {
                Card,
                FontAwesomeIcon,
            },
            setup() {
                const selectedTest = ref("unit");

                const testResults = {
                    "unit": {
                        "test_count": "{{ unit.latest_result.test_count }}",
                        "test_errors": "{{ unit.latest_result.test_errors }}",
                        "test_failures": "{{ unit.latest_result.test_failures }}",
                        "test_overdue": "{{ unit.overdue }}",
                        "test_time_elapsed": "{{ unit.latest_result.test_time_elapsed }}",
                        "test_runtime": "{{ unit.created }}",
                        "test_output": "{{ unit.latest_result.test_output|linebreaksbr }}",
                    },
                    "functional": {
                        "test_count": "{{ functional.latest_result.test_count }}",
                        "test_errors": "{{ functional.latest_result.test_errors }}",
                        "test_failures": "{{ functional.latest_result.test_failures }}",
                        "test_overdue": "{{ functional.overdue }}",
                        "test_time_elapsed": "{{ functional.latest_result.test_time_elapsed }}",
                        "test_runtime": "{{ functional.created }}",
                        "test_output": "{{ functional.latest_result.test_output|linebreaksbr }}",
                    },
                    "data": {
                        "test_count": "{{ data.latest_result.test_count }}",
                        "test_errors": "{{ data.latest_result.test_errors }}",
                        "test_failures": "{{ data.latest_result.test_failures }}",
                        "test_overdue": "{{ data.overdue }}",
                        "test_time_elapsed": "{{ data.latest_result.test_time_elapsed }}",
                        "test_runtime": "{{ data.created }}",
                        "test_output": "{{ data.latest_result.test_output|linebreaksbr }}",
                    },
                    "wumpus": {
                        "test_count": "{{ wumpus.latest_result.test_count }}",
                        "test_errors": "{{ wumpus.latest_result.test_errors }}",
                        "test_failures": "{{ wumpus.latest_result.test_failures }}",
                        "test_overdue": "{{ wumpus.overdue }}",
                        "test_time_elapsed": "{{ wumpus.latest_result.test_time_elapsed }}",
                        "test_runtime": "{{ wumpus.created }}",
                        "test_output": "{{ wumpus.latest_result.test_output|linebreaksbr }}",
                    },
                    "coverage": {
                        "line_rate": "{{ coverage.latest_result.line_rate }}",
                        "test_time_elapsed": "{{ coverage.latest_result.test_time_elapsed }}",
                        "test_runtime": "{{ coverage.created }}",
                        "test_overdue": "{{ coverage.overdue }}",
                    },
                };

                function getStatus(testType) {
                    if (testResults[testType].test_overdue) {
                        return failure;
                    } else if ((testResults[testType].test_errors === "0" &&
                        testResults[testType].test_failures === "0") ||
                        testResults[testType].test_errors === undefined) {
                        return success;
                    } else {
                        return failure;
                    }
                };

                function showTestResults(testType) {
                    const modal = new Modal("#modalTestOutput");
                    modal.show();
                    selectedTest.value = testType;
                };

                const statusCoverage = computed(() => {
                    if (testResults["coverage"].line_rate >= coverageMinimum &&
                        !testResults["coverage"].test_overdue) {
                        return success;
                    } else {
                        return failure;
                    }
                });

                const statusData = computed(() => {
                    return getStatus("data");
                });

                const statusFunctional = computed(() => {
                    return getStatus("functional");
                });

                const statusUnit = computed(() => {
                    return getStatus("unit");
                });

                const statusWumpus = computed(() => {
                    return getStatus("wumpus");
                });

                return {
                    getStatus,
                    selectedTest,
                    showTestResults,
                    statusCoverage,
                    statusData,
                    statusFunctional,
                    statusUnit,
                    statusWumpus,
                    testResults,
                };
            },
        });
        app.mount("#vue-app");

    </script>

{% endblock %}
