{% extends "base_react.html" %}
{% load vite_tags %}

{% block title %}Delete Reminder{% endblock %}

{% block css %}
    {% vite_asset "dist/css/bordercore" %}
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/reminder-delete" %}
{% endblock %}

{% block content %}
  <div
    id="react-root"
    data-reminder-name="{{ reminder.name }}"
    data-delete-url="{% url 'reminder:delete' reminder.uuid %}"
    data-cancel-url="{% url 'reminder:detail' reminder.uuid %}"
  ></div>
{% endblock %}
