{% extends "base_react.html" %}
{% load vite_tags %}

{% block title %}Todo{% endblock %}

{% block css %}
    {% vite_asset "dist/css/bordercore" %}
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {% vite_asset "dist/js/todos" %}
{% endblock %}

{% block content %}
    <div
        id="react-root"
        data-get-tasks-url="{% url 'todo:get_tasks' %}"
        data-sort-url="{% url 'todo:sort' %}"
        data-move-to-top-url="{% url 'todo:move_to_top' %}"
        data-edit-todo-url="{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}"
        data-create-todo-url="{% url 'todo-list' %}"
        data-tag-search-url="{% url 'tag:search' %}?query="
        data-store-in-session-url="{% url 'accounts:store_in_session' %}"
        data-priority-list="{{ priority_list }}"
        data-tags="{{ tags_json }}"
        data-default-sort="{{ request.session.todo_sort|default:'{"field":"sort_order","direction":"asc"}' }}"
        data-filter-tag="{{ filter.todo_filter_tag|default:'' }}"
        data-filter-priority="{{ filter.todo_filter_priority|default:'' }}"
        data-filter-time="{{ filter.todo_filter_time|default:'' }}"
        data-uuid="{{ uuid|default:'' }}"
    ></div>
{% endblock %}
