{% extends "base.html" %}

{% block title %} Todo {% endblock %}

{% block content %}

    <div class="row g-0 h-100 mx-2" id="vue-app">
        <!-- Filters drawer overlay (for mobile) -->
        <div
            v-if="drawerOpen"
            class="todo-filters-drawer-overlay"
            @click="toggleDrawer"
        ></div>

        <!-- Filters section - hidden on small screens, shown in drawer -->
        <div class="col-lg-3 d-flex flex-column todo-filters-sidebar" :class="{'drawer-open': drawerOpen}">
            <div class="sticky-top card-body backdrop-filter h-100" v-cloak>
                <h4>Priority</h4>
                <div v-for="option in filterPriorityOptions" :class="getPriorityClass(option[0])" class="list-with-counts ps-2 py-1 pe-1 d-flex" @click.prevent="onClickPriority" :data-priority="option[0]">
                    <div>[[ option[1] ]]</div>
                    <div class="ms-auto me-1">
                        <span class="px-2 badge rounded-pill">[[ option[2] ]]</span>
                    </div>
                </div>

                <hr class="divider" />

                <h4>Created</h4>
                <div v-for="option in filterTimeOptions" :class="getTimeClass(option[0])" class="list-with-counts ps-2 py-1 pe-1 d-flex" @click.prevent="onClickTime" :data-created="option[0]">
                    <div>[[ option[1] ]]</div>
                    <div class="ms-auto me-1">
                        <span class="px-2 badge rounded-pill">[[ option[2] ]]</span>
                    </div>
                </div>

                <hr class="divider" />

                <h4>Tags</h4>
                {% for tag in tags %}
                    <div class="list-with-counts ps-2 py-1 pe-1 d-flex" :class="getTagClass('{{ tag.name }}')" @click.prevent="onClickTag" data-tag="{{ tag.name }}">
                        <div>{{ tag.name }}</div>
                        <div class="ms-auto me-1">
                            <span class="px-2 badge rounded-pill">{{ tag.count }}</span>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-success">No tags found</div>
                {% endfor %}

            </div>

        </div>

        <div class="col-lg-9">

            <div class="card-grid ms-2">

                <div class="d-flex justify-content-between">

                    <!-- Filters button for mobile -->
                    <button
                        type="button"
                        class="btn btn-primary todo-filters-drawer-toggle d-lg-none me-2"
                        @click="toggleDrawer"
                        aria-label="Toggle Filters"
                    >
                        <font-awesome-icon icon="bars" class="me-2"></font-awesome-icon>
                        Filters
                    </button>

                    <form class="form-inline" role="form">
                        <div class="position-relative ms-2">
                            <input type="text" v-model="filterSearch" class="form-control" placeholder="Search" @keydown.enter.prevent="search()">
                            <div v-if="currentSearchFilter" class="search-input-cancel">
                                <a class="ms-1" href="#" @click.prevent="removeSearchFilter()">
                                    <font-awesome-icon icon="times" class="text-primary" />
                                </a>
                            </div>
                        </div>
                    </form>

                    <div class="card-title ms-3 me-auto" v-cloak>
                        [[ title ]]
                    </div>

                    <div class="me-2">
                        <drop-down-menu class="my-auto">
                            <template #dropdown v-cloak>
                                <li>
                                    <a class="dropdown-item" href="#" @click.prevent="handleCreateTodo">
                                        <span v-cloak>
                                            <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>
                                            New Todo
                                        </span>
                                    </a>
                                </li>
                            </template>
                        </drop-down-menu>
                    </div>

                </div>

                <o-table
                    ref="table"
                    :data="items"
                    :default-sort="[defaultSort.field, defaultSort.direction]"
                    draggable
                    hoverable
                    :row-class="() => 'hover-target'"
                    sort-icon="angle-up"
                    @drop="onDrop"
                    @dragend="onDragEnd"
                    @dragover="onDragOver"
                    @dragstart="onDragStart"
                    @sort="handleSort"
                >
                    <o-table-column field="sort_order" label="Manual" :td-attrs="()=> ({ class: 'todo-col-manual-sorting text-center' })" sortable v-slot="props">
                        <font-awesome-icon icon="bars"></font-awesome-icon>
                    </o-table-column>
                    <o-table-column field="name" label="Name" sortable header-class="cursor-pointer" v-slot="props" v-cloak>
                        <div class="d-flex">
                            <div>
                                [[ props.row.name ]]
                                <span v-if="props.row.url">
                                    <a class="ms-1" :href="props.row.url">
                                        <font-awesome-icon icon="link"></font-awesome-icon>
                                    </a>
                                </span>
                            </div>
                            <div class="ms-auto">
                                <span v-if="props.row.note" v-tooltip="{ content: onShowNote(props.row), html: true }">
                                    <font-awesome-icon icon="sticky-note" class="glow text-primary"></font-awesome-icon>
                                </span>
                            </div>
                        </div>
                    </o-table-column>
                    <o-table-column field="priority" label="Priority" :td-attrs="()=> ({ class: 'todo-col-priority' })" sortable
                        header-class="cursor-pointer" v-slot="props" v-cloak>
                        [[ props.row.priority_name ]]
                    </o-table-column>
                    <o-table-column field="created_unixtime" label="Date" sortable :td-attrs="()=> ({ class: 'todo-col-date' })"
                        cell-class="todo-col-date text-nowrap" header-class="cursor-pointer" v-slot="props" v-cloak>
                        [[ getDate(props.row.created) ]]
                    </o-table-column>
                    <o-table-column field="uuid" label="" :td-attrs="()=> ({ class: 'col-action' })" v-slot="props" v-cloak>
                        <drop-down-menu :show-on-hover="true">
                            <template #dropdown>
                                <li v-if="isSortable && props.row.sort_order > 1">
                                    <a class="dropdown-item" href="#" @click.prevent="onClickMoveToTop(props.row)">
                                        <font-awesome-icon icon="arrow-up" class="text-primary me-3"></font-awesome-icon>Move To Top
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" @click.prevent="onClickEdit(props.row)">
                                        <font-awesome-icon icon="pencil-alt" class="text-primary me-3"></font-awesome-icon>Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" @click.prevent="onClickDelete(props.row)">
                                        <font-awesome-icon icon="trash-alt" class="text-primary me-3"></font-awesome-icon>Delete
                                    </a>
                                </li>
                            </template>
                        </drop-down-menu>
                    </o-table-column>
                    <template #empty>
                        <div class="text-center">No tasks found</div>
                    </template>
                </o-table>
            </div>

        </div>

        <todo-editor
            ref="editTodo"
            :priority-list="JSON.parse('{{ priority_list }}')"
            edit-todo-url="{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}"
            create-todo-url="{% url 'todo-list' %}"
            tag-search-url="{% url 'tag:search' %}?query="
            @add="getTodoList()"
            @delete="onClickDelete"
            @edit="getTodoList()"
        >
        </todo-editor>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        const app = createApp({
            name: "TodoTable",
            delimiters: ["[[", "]]"],
            components: {
                TodoEditor,
                DropDownMenu,
                FontAwesomeIcon,
            },
            setup() {
                const currentSearchFilter = ref("");
                const filterTag = ref("{{ filter.todo_filter_tag|default:'' }}");
                const filterPriority = ref("{{ filter.todo_filter_priority|default:'' }}");
                const filterTime = ref("{{ filter.todo_filter_time|default:'' }}");
                const filterSearch = ref("");
                const drawerOpen = ref(false);
                let filterCache = null;
                const items = ref([]);
                let draggingRow = null;
                const filterPriorityOptions = ref();
                const filterTimeOptions = ref();
                const table = ref(null);
                const editTodo = ref(null);

                const defaultSort = JSON.parse("{{ request.session.todo_sort|escapejs|default:'{\"field\":\"sort_order\", \"direction\":\"asc\"}' }}");

                function getPrettyTime(time) {
                    for (option of filterTimeOptions.value) {
                        if (time === option[0]) {
                            return option[1];
                        }
                    }
                };

                function getTodoList(uuid) {
                    doGet(
                        "{% url 'todo:get_tasks' %}" +
                        `?tag=${filterTag.value}` +
                        `&priority=${filterPriority.value}` +
                        `&time=${filterTime.value}` +
                        `&search=${filterSearch.value}`,
                        (response) => {
                            items.value = response.data.todo_list;
                            filterPriorityOptions.value = response.data.priority_counts;
                            filterTimeOptions.value = response.data.created_counts;
                            if (uuid) {
                                // If a uuid is given, open the modal dialog for that todo task
                                const todo = items.value.find(x => x.uuid === uuid);
                                onClickEdit(todo);
                            }
                        },
                        "Error getting todo list",
                    );
                };

                function removeSearchFilter() {
                    filterSearch.value = "";
                    search();
                };

                function onDragOver(payload) {
                    payload.event.dataTransfer.dropEffect = "move";
                    payload.event.preventDefault();
                };

                function onDragStart(payload) {
                    payload.event.currentTarget.classList.add("dragging");
                    draggingRow = payload.row;
                    payload.event.dataTransfer.effectAllowed = "move";
                };

                function onDragEnd(payload) {
                    payload.event.currentTarget.classList.remove("dragging");
                };

                function onDrop(payload) {
                    if (!isSortable.value) {
                        EventBus.$emit(
                            "toast",
                            {
                                "title": "Error",
                                "body": "Sorting is only supported if only a tag filter is applied",
                                "variant": "danger",
                            },
                        );
                        return;
                    }
                    if (table.value.currentSortColumn.field !== "sort_order" ||
                        !table.value.isAsc) {
                        return;
                        EventBus.$emit(
                            "toast",
                            {
                                "title": "Error",
                                "body": "Sorting is only supported if data is sorted by the 'Manual' column, ascending",
                                "variant": "danger",
                            },
                        );
                        return;
                    }

                    const todoUuid = draggingRow.uuid;
                    const newIndex = payload.index;

                    const bodyFormData = new URLSearchParams();
                    bodyFormData.append("todo_uuid", todoUuid);
                    bodyFormData.append("position", newIndex + 1);
                    bodyFormData.append("tag", filterTag.value);

                    axios("{% url 'todo:sort' %}", {
                        method: "POST",
                        data: bodyFormData,
                    })
                        .then((response) => {
                            getTodoList();
                        }, (error) => {
                            console.log(error);
                        });
                };

                function onClickDelete(todoInfo) {
                    axios.delete("{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}".replace("00000000-0000-0000-0000-000000000000", todoInfo.uuid))
                        .then((response) => {
                            EventBus.$emit(
                                "toast",
                                {
                                    "body": "Todo task deleted",
                                    "variant": "info",
                                },
                            );

                            getTodoList();
                        }, (error) => {
                            console.log(error);
                        });
                };

                function toggleDrawer() {
                    drawerOpen.value = !drawerOpen.value;
                };

                function onClickTag(evt) {
                    currentSearchFilter.value = "";
                    filterSearch.value = "";
                    if (filterTag.value == evt.currentTarget.dataset.tag) {
                        filterTag.value = "";
                    } else {
                        filterTag.value = evt.currentTarget.dataset.tag;
                    }
                    // Close drawer when a filter is applied on mobile
                    if (drawerOpen.value && window.innerWidth < 992) {
                        drawerOpen.value = false;
                    }
                    getTodoList();
                };

                function onClickPriority(evt) {
                    currentSearchFilter.value = "";
                    filterSearch.value = "";
                    if (filterPriority.value == evt.currentTarget.dataset.priority) {
                        filterPriority.value = "";
                    } else {
                        filterPriority.value = evt.currentTarget.dataset.priority;
                    }
                    // Close drawer when a filter is applied on mobile
                    if (drawerOpen.value && window.innerWidth < 992) {
                        drawerOpen.value = false;
                    }
                    getTodoList();
                };

                function onClickTime(evt) {
                    currentSearchFilter.value = "";
                    filterSearch.value = "";
                    if (filterTime.value == evt.currentTarget.dataset.created) {
                        filterTime.value = "";
                    } else {
                        filterTime.value = evt.currentTarget.dataset.created;
                    }
                    // Close drawer when a filter is applied on mobile
                    if (drawerOpen.value && window.innerWidth < 992) {
                        drawerOpen.value = false;
                    }
                    getTodoList();
                };

                function getTagClass(tag) {
                    if (tag === filterTag.value) {
                        return "selected rounded-sm";
                    }
                };

                function getPriorityClass(priority) {
                    if (priority === parseInt(filterPriority.value)) {
                        return "selected rounded-sm";
                    }
                };

                function getTimeClass(created) {
                    if (created === filterTime.value) {
                        return "selected rounded-sm";
                    }
                };

                function getDate(date) {
                    return getFormattedDate(date);
                };

                function handleSort(field, direction, event) {
                    const sort = {field: field, direction: direction};
                    doPost(
                        "{% url "accounts:store_in_session" %}",
                        {
                            "todo_sort": JSON.stringify(sort),
                        },
                        () => {},
                    );
                };

                function search() {
                    if (filterSearch.value === "") {
                        currentSearchFilter.value = "";
                        filterPriority.value = filterCache.priority;
                        filterTag.value = filterCache.tag;
                        filterTime.value = filterCache.time;
                        filterCache = {};
                    } else {
                        currentSearchFilter.value = filterSearch.value;
                        filterCache = {
                            "priority": filterPriority.value,
                            "tag": filterTag.value,
                            "time": filterTime.value,
                        };
                        filterPriority.value = "";
                        filterTag.value = "";
                        filterTime.value = "";
                    }
                    getTodoList();
                };

                function onClickMoveToTop(todoInfo) {
                    const bodyFormData = new URLSearchParams();
                    bodyFormData.append("tag", filterTag.value);
                    bodyFormData.append("todo_uuid", todoInfo.uuid);

                    axios("{% url 'todo:move_to_top' %}", {
                        method: "POST",
                        data: bodyFormData,
                    })
                        .then((response) => {
                            getTodoList();
                        }, (error) => {
                            console.log(error);
                        });
                }

                function onClickEdit(todoInfo) {
                    if (todoInfo.due_date !== null) {
                        todoInfo.due_date = new Date(todoInfo.due_date);
                    }
                    editTodo.value.setAction("Edit");
                    editTodo.value.todoInfo = todoInfo;
                    editTodo.value.setTags(todoInfo.tags);
                    const modal = new Modal("#modalEditTodo");
                    modal.show();
                    setTimeout(() => {
                        document.getElementById("id_name").focus();
                    }, 500);
                };

                function handleCreateTodo() {
                    editTodo.value.setAction("Create");

                    const initialTagList = [filterTag.value];

                    editTodo.value.todoInfo = {
                        note: "",
                        priority: filterPriority.value || 3,
                        tags: initialTagList,
                    };
                    if (filterTag.value) {
                        editTodo.value.setTags(initialTagList);
                    }
                    const modal = new Modal("#modalEditTodo");
                    modal.show();
                    setTimeout(() => {
                        document.getElementById("id_name").focus();
                    }, 500);
                };

                function onShowNote(todo) {
                    return markdown.render(todo.note);
                };

                const title = computed(() => {
                    let title = [];
                    if (currentSearchFilter.value) {
                        return `Results for "${currentSearchFilter.value}"`;
                    }
                    if (filterTag.value) {
                        title.push(`Tag: ${filterTag.value}`);
                    }
                    if (filterPriority.value && filterPriorityOptions.value) {
                        title.push(`Priority: ${filterPriorityOptions.value[filterPriority.value - 1][1]}`);
                    }
                    if (filterTime.value && filterTimeOptions.value) {
                        title.push(`Time: ${getPrettyTime(filterTime.value)}`);
                    }
                    if (title.length === 0) {
                        title = ["All"];
                    }
                    return title.join(", ");
                });

                const isSortable = computed(() => {
                    return filterTime.value === "" &&
                           filterPriority.value === "" &&
                           filterTag.value !== "";
                });

                onMounted(() => {
                    getTodoList("{{ uuid }}");
                });

                return {
                    currentSearchFilter,
                    defaultSort,
                    drawerOpen,
                    filterTag,
                    filterPriority,
                    filterTime,
                    filterSearch,
                    getDate,
                    getPriorityClass,
                    getTagClass,
                    getTimeClass,
                    getTodoList,
                    handleSort,
                    isSortable,
                    items,
                    filterPriorityOptions,
                    filterTimeOptions,
                    handleCreateTodo,
                    onClickDelete,
                    onClickMoveToTop,
                    onClickPriority,
                    onClickTag,
                    onClickTime,
                    onClickEdit,
                    onDragEnd,
                    onDragOver,
                    onDragStart,
                    onDrop,
                    onShowNote,
                    removeSearchFilter,
                    search,
                    table,
                    title,
                    toggleDrawer,
                    editTodo,
                };
            },
        });
        app.use(FloatingVue);
        app.use(Oruga, {
            iconPack: "fas",
        });
        app.mount("#vue-app");

    </script>

{% endblock %}
