// =============================================================================
// PAGES: FEED
// =============================================================================
// Feed list and feed item styles

.feed-item {
  &.selected {
    background-color: var(--selected-bg);
  }
}
