.sql-playground {
  .card-title {
    color: var(--text4);
    font-size: 1.2rem;
  }

  .code-input {
    width: 100%;
    height: 150px; // Fixed height for SQL playground
    margin: 0;
    background-color: var(--surface5);
    border-radius: var(--border-radius1);

    textarea {
      padding: 1rem !important;
      caret-color: var(--text1);
      color: transparent;

      &::placeholder {
        color: var(--form-color);
        opacity: 1;
      }
    }

    pre {
      padding: 1rem !important;
      margin: 0 !important;
      background: transparent !important;
    }
  }
}
