.sql-playground {
  .card-title {
    color: var(--text4);
    font-size: 1.2rem;
  }

  textarea.sql-input {
    border: none;
    background-color: var(--surface5);
    border-radius: var(--border-radius1);
    color: var(--text1);

    &::placeholder {
      color: var(--form-color);
      opacity: 1;
    }
  }
}
