{% extends "base.html" %}
{% load vite_tags %}

{% block title %}{{ title }}{% endblock %}

{% block nav %}
<div class="d-flex mb-3">
    <div class="me-auto align-self-center">
        <ul class="breadcrumb mb-0 pt-0 pb-0">
            <li class="breadcrumb-item"><a href="{% url 'collection:list' %}">Collection List</a></li>
            <li class="breadcrumb-item active">{{ collection.name|default:"Anonymous collection" }}</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {{ collection_data|json_script:"collection-data" }}
    {{ object_tags|json_script:"object-tags-data" }}
    {{ initial_tags|json_script:"initial-tags-data" }}
    {% vite_asset "dist/js/collection-detail" %}
{% endblock %}

{% block content %}
{% include "common/processing.html" %}

<div id="react-root"
     data-selected-tag="{{ request.GET.tag|default:'' }}"
     data-get-object-list-url="{% url 'collection:get_object_list' collection.uuid %}"
     data-sort-objects-url="{% url 'collection:sort_objects' %}"
     data-remove-object-url="{% url 'collection:remove_object' %}"
     data-update-collection-url="{% url 'collection:update' collection.uuid %}"
     data-delete-collection-url="{% url 'collection:delete' collection.uuid %}"
     data-create-blob-url="{% url 'collection:create_blob' %}"
     data-get-blob-url="{% url 'collection:get_blob' collection.uuid %}"
     data-collection-list-url="{% url 'collection:list' %}"
     data-blob-detail-url="{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}"
     data-tag-search-url="{% url 'tag:search' %}"
     data-csrf-token="{{ csrf_token }}">
</div>
{% endblock %}

{% block help %}
    <div class="d-none" id="help-text">
*Note:* You can drag a file onto the collection list to create a blob and add it to the collection.

*Slideshow:* Use arrow keys to navigate in manual mode. Press Escape to exit.

*Reorder:* Drag and drop items to reorder them.
    </div>
{% endblock %}
