{% extends "base.html" %}
{% load vite_tags %}

{% block title %}Collection List{% endblock %}

{% block javascript_bundles %}
    {{ block.super }}
    {{ collection_list|json_script:"collection-list-data" }}
    {% vite_asset "dist/js/collection-list" %}
{% endblock %}

{% block content %}
<div id="react-root"
     data-create-collection-url="{% url 'collection:create' %}"
     data-tag-search-url="{% url 'tag:search' %}"
     data-csrf-token="{{ csrf_token }}">
</div>
{% endblock %}

{% block help %}
    <div class="d-none" id="help-text">
*Filter:* Click the search icon to filter collections by name.

*Create:* Click the menu icon to create a new collection.
    </div>
{% endblock %}
