{% extends "base.html" %}

{% block title %} Collections {% endblock %}

{% block nav %}

    <div class="d-flex mb-3">
        <div class="me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'collection:list' %}">Collection List</a> </li>
                <li class="breadcrumb-item active">{{ collection.name|default:"Anonymous collection" }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    {% include "common/processing.html" %}

    <div class="row g-0 h-100 mx-2" id="vue-app">

        <node-image-modal ref="collectionImage">
        </node-image-modal>

        <div class="col-lg-3 d-flex flex-column flex-grow-last h-100">

            <div class="card-body h-100">

                {% if collection.description %}
                    <h3 class="mb-3" v-html="getDescription()" v-cloak></h3>
                {% endif %}

                <div class="d-flex mb-3">
                    <strong>Count</strong>
                    <span class="text-primary ms-1">
                        {{ collection.collectionobject_set.count }}
                    </span>
                </div>

                <div class="d-flex mb-3">
                    <strong>Edited</strong>
                    <span class="text-primary ms-1">
                        {{ collection.modified|date:"F j, Y" }}
                    </span>
                </div>

                <hr />

                <h4 class="mt-3">Tag Filter</h4>

                <ul class="list-group flex-column w-100">
                    <div v-cloak>
                        <div class="list-with-counts ps-2 py-1 pe-1 d-flex" :class="{ 'selected rounded-sm': selectedTag === null }" @click.prevent="handleTagSelect">
                            <div class="ps-2">
                                All Objects
                            </div>
                            <div class="ms-auto pe-2">
                                <span class="px-2 badge rounded-pill">
                                    {{ collection.collectionobject_set.count }}
                                </span>
                            </div>
                        </div>
                        <li v-for="tag in objectTags" class="list-with-counts ps-2 py-1 pe-1 d-flex" :class="{ 'selected rounded-sm': tag.tag === selectedTag }" @click.prevent="handleTagSelect" :data-tag="tag.tag" :key="tag.tag">
                            <div class="ps-2">
                                [[ tag.tag ]]
                            </div>
                            <div class="ms-auto pe-2">
                                <span class="px-2 badge rounded-pill">
                                    [[ tag.blob_count ]]
                                </span>
                            </div>
                        </li>
                    </div>
                </ul>

            </div>

        </div>

        <div class="col-lg-9 d-flex flex-column h-100">
            <card class="h-100">
                <template v-slot:title-slot>
                    <div class="d-flex align-items-center">
                        <h3 class="me-auto">
                            {{ collection.name }}
                        </h3>

                        <drop-down-menu
                            ref="dropDownMenu"
                            :links="collectionDetailMenuItems"
                            class="ms-5"
                        >
                        </drop-down-menu>
                    </div>
                </template>

                <template v-slot:content>
                    <hr class="divider" />

                    <div class="d-flex ms-2">
                        <div @drop.prevent="handleNewBlob($event)" @dragover.prevent="handleBlobDragOver($event)" @dragleave.prevent="handleBlobDragLeave($event)" @dragenter.prevent>
                            <ul class="text-center list-unstyled collection-sortable">
                                <slick-list
                                    v-model:list="blobList"
                                    :distance="3"
                                    axis="xy"
                                    helper-class="slicklist-helper"
                                    class="drag-target d-flex flex-wrap w-100"
                                    @sort-end="handleSort"
                                >
                                    <slick-item
                                        v-for="(element, index) in blobList"
                                        :key="element.uuid"
                                        :index="index"
                                    >
                                        <div class="slicklist-list-item-inner h-100">
                                            <li :key="element.uuid" class="collection-item list-group-item hoverable cursor-pointer h-100 p-3">
                                                <button type="button" class="collection-item-delete btn-close" data-bs-dismiss="modal" aria-label="Close" @click="removeBlob(element.uuid)">
                                                </button>
                                                <div class="zoom d-flex flex-column justify-content-center h-100">
                                                    <div v-if="element.type === 'blob'">
                                                        <img :src="element.cover_url" @click="handleItemClick(element.cover_url_large)" />
                                                    </div>
                                                    <div v-else>
                                                        <font-awesome-icon icon="bookmark" class="text-primary fa-4x mt-3"></font-awesome-icon>
                                                    </div>
                                                    <div class="collection-item-name" v-tooltip="{delay: 1000, content: element.name}">
                                                        <a :href="element.url">[[ element.name || "No Title" ]]</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </slick-item>
                                </slick-list>
                            </ul>
                        </div>
                        <h5 v-if="!blobList" class="text-secondary">
                            This collection is empty.
                        </h5>

                        <h5 v-if="needsPagination" class="d-flex mb-0 me-1 pt-3">
                            <div>
                                <a v-if="paginator.has_previous" href="#" @click.prevent="paginate('prev')" class="me-1">
                                    <font-awesome-icon icon="chevron-left" class="text-emphasis glow icon-hover" />
                                </a>
                                <span v-else>
                                    <font-awesome-icon icon="chevron-left" class="text-emphasis icon-disabled" />
                                </span>
                            </div>
                            <div>
                                <a v-if="paginator.has_next" href="#" @click.prevent="paginate('next')" class="ms-1">
                                    <font-awesome-icon icon="chevron-right" class="text-emphasis glow icon-hover" />
                                </a>
                                <span v-else>
                                    <font-awesome-icon icon="chevron-right" class="text-emphasis icon-disabled" />
                                </span>
                            </div>
                        </h5>
                    </div>
                </template>
            </card>
        </div>

        <form action="{% url 'collection:update' collection.uuid %}" method="post" id="form-collection-edit">
            {% csrf_token %}
            <div class="modal fade" id="modelEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                Edit Collection
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        {% for field in form %}
                            <div class="{% if field.errors %} error{% endif %} row mb-3">
                                <label class="col-lg-3 col-form-label" for="inputTitle">{{ field.label }}</label>

                                <div class="col-lg-9 d-flex">

                            {% if field.label == "Tags" %}

                                <tags-input
                                    search-url="{% url 'tag:search' %}?query="
                                >
                                </tags-input>

                            {% elif field.label == "Is Favorite" %}
                                <o-switch v-model="isFavorite" name="is_favorite" :native-value="is_favorite"></o-switch>
                            {% else %}

                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}

                            {% endif %}

                                </div>

                            </div>
                        {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <input id="btn-action" class="btn btn-primary" type="submit" name="Go" value="Save" />
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <form action="{% url 'collection:delete' collection.uuid %}" method="post" id="form-collection-edit">
            {% csrf_token %}
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Delete Collection</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div>
                                Are you sure you want to delete this collection?
                            </div>

                            <div class="mt-3">
                                <input class="btn btn-primary" type="submit" value="Confirm" />
                                <a href="#" data-bs-dismiss="modal" class="ms-3">Cancel</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <div class="modal fade" id="modalSlideShow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Begin Slide Show</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <div class="collection-slide-show-section">

                            <div class="form-section">
                                Type
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <div class="form-check">
                                        <input id="id_type_manual" v-model="slideShowType" class="form-check-input" type="radio" name="type" value="manual" checked>
                                        <label class="form-check-label d-flex" for="id_type_manual">
                                            Manual
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input id="id_type_automatic" v-model="slideShowType" class="form-check-input" type="radio" name="type" value="automatic">
                                        <label class="form-check-label d-flex" for="id_type_automatic">
                                            Automatic
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        <select v-model="slideShowInterval" class="form-control form-select" :disabled="slideShowType === 'manual'">
                                            <option v-for="option in slideShowOptions" :key="option.value" :value="option.value">
                                                [[ option.display ]]
                                            </option>
                                        </select>
                                    </div>
                                    <div class="d-flex ps-1 mt-2">
                                        <o-switch v-model="slideShowRandomize" :disabled="slideShowType === 'manual'">Randomize</o-switch>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-1">

                        <div class="collection-slide-show-section">
                            <div class="form-section">
                                Options
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-4">
                                    Tag
                                </div>
                                <div class="col-lg-8">
                                    <select id="tag" class="form-control form-select">
                                        <option v-for="tag in objectTags" :value="tag.tag">
                                            [[ tag.tag ]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer justify-content-end">
                        <input id="btn-action" class="btn btn-primary" type="button" name="Go" value="Confirm" @click="handleStartSlideShow()" />
                    </div>

                </div>
            </div>
        </div>

        <div id="overlay" class="d-none">
            <img class="slide-show" src="" />
            <video class="slide-show d-none" controls autoplay muted>
                <source src="" type="video/mp4">
            </video>
        </div>

    </div>

    {% block help %}
        <div class="d-none" id="help-text">
*Note:* You can drag a file onto the collection list to create a blob and add it to the collection.
        </div>
    {% endblock %}

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ collection_json|json_script:"collectionJson" }}
    {{ tags|json_script:"initial-tags"|default:"" }}
    {{ object_tags|json_script:"object_tags" }}
    {{ object.description|json_script:"collectionDescription" }}

    <script type="text/javascript">

        const app = createApp({
            name: "BlobListContainer",
            delimiters: ["[[", "]]"],
            components: {
                Card,
                DropDownMenu,
                FontAwesomeIcon,
                NodeImageModal,
                SlickItem,
                SlickList,
                TagsInput,
            },
            setup() {
                const collectionImage = ref(null);
                const isFavorite = ref({{ object.is_favorite|yesno:"true,false" }});
                const collectionDetailMenuItems = [
                    {
                        id: uuidv4(),
                        title: "New Blob",
                        url: "{% url 'blob:create' %}?collection_uuid={{ collection.uuid }}",
                        icon: "plus",
                    },
                    {
                        id: uuidv4(),
                        title: "Slide Show",
                        url: "#",
                        clickHandler: handleSlideShowModal,
                        icon: "images",
                    },
                    {
                        id: uuidv4(),
                        title: "Edit",
                        url: "#",
                        clickHandler: handleEdit,
                        icon: "pencil-alt",
                    },
                    {
                        id: uuidv4(),
                        title: "Delete",
                        url: "#",
                        clickHandler: handleDelete,
                        icon: "times",
                    },
                ];

                let slideShowImageIndex = -1;
                const slideShowType = ref("manual");
                const slideShowInterval = ref("60");
                const slideShowRandomize = ref(false);

                const collectionJson = JSON.parse(document.getElementById("collectionJson").textContent);
                const objectTags = ref(JSON.parse(document.getElementById("object_tags").textContent));
                const collectionDescription = JSON.parse(document.getElementById("collectionDescription").textContent);

                const slideShowOptions = [
                    {
                        value: "1",
                        display: "Rotate Every Minute",
                    },
                    {
                        value: "5",
                        display: "Rotate Every 5 Minutes",
                    },
                    {
                        value: "10",
                        display: "Rotate Every 10 Minutes",
                    },
                    {
                        value: "30",
                        display: "Rotate Every 30 Minutes",
                    },
                    {
                        value: "60",
                        display: "Rotate Every Hour",
                    },
                    {
                        value: "1440",
                        display: "Rotate Every Day",
                    },
                ];

                const selectedTag = ref({% if request.GET.tag %} "{{ request.GET.tag }}"{% else %}''{% endif %});
                const paginator = ref({});

                const needsPagination = computed(() => {
                    if (paginator === null) {
                        return false;
                    }
                    return paginator.value.has_previous || paginator.value.has_next;
                });

                function handleTagSelect(evt) {
                    const element = evt.currentTarget;
                    let url = "{% url 'collection:detail' collection.uuid %}";
                    if (element.dataset.tag) {
                        url = url + "?tag=" + element.dataset.tag;
                    }
                    window.location = url;
                };

                function handleItemClick(url) {
                    collectionImage.value.openModal(url);
                };

                function handleEdit() {
                    const modal = new Modal("#modelEdit");
                    modal.show();
                };

                function handleSlideShowModal() {
                    document.getElementById("tag").value = "";
                    const modal = new Modal("#modalSlideShow");
                    modal.show();
                };

                function handleStartSlideShow() {
                    const modal = Modal.getInstance(document.getElementById("modalSlideShow"));
                    modal.hide();

                    // Hide scrollbars
                    document.body.style.overflow = "hidden";

                    // Add a black background
                    document.getElementById("overlay").classList.remove("d-none");

                    slideShowImageIndex = -1;

                    if (slideShowType.value === "automatic") {
                        getSlideShowImage();
                        setInterval( () => {
                            getSlideShowImage();
                        }, parseInt(slideShowInterval.value * 1000 * 60));
                    } else {
                        getSlideShowImage("next");
                    }
                };

                function getDescription() {
                    return markdown.render(collectionDescription);
                };

                function getSlideShowImage(direction = "next") {
                    const tag = document.getElementById("tag").value;
                    axios.get("{% url "collection:get_blob" collection.uuid %}" + `?randomize=${slideShowRandomize.value}&position=${slideShowImageIndex}&tag=${tag}&direction=${direction}`)
                         .then(response => {
                             slideShowImageIndex = response.data.index;
                             changeSlideShowImage(response.data.url, response.data.content_type);
                         })
                };

                function changeSlideShowImage(url, type) {
                    if (type === "Image") {
                        document.querySelector("#overlay img").classList.remove("d-none");
                        document.querySelector("#overlay img").src = url;
                        document.querySelector("#overlay video").classList.add("d-none");
                    } else {
                        document.querySelector("#overlay img").classList.add("d-none");
                        document.querySelector("#overlay video").classList.remove("d-none");
                        document.querySelector("#overlay video").src = url;
                    }
                };

                function handleDelete() {
                    const modal = new Modal("#modalDelete");
                    modal.show();
                };

                function paginate(direction) {
                    let pageNumber;
                    if (direction === "prev") {
                        pageNumber = paginator.value.previous_page_number;
                    } else {
                        pageNumber = paginator.value.next_page_number;
                    }
                    getBlobList(pageNumber);
                };

                const blobList = ref([]);

                function handleNewBlob(evt) {
                    evt.currentTarget.querySelector(".drag-target").classList.remove("collection-drag-over");

                    const fileList = evt.dataTransfer.files;
                    if (fileList.length === 0) {
                        // No files means we're sorting blobs, not adding one
                        return;
                    }

                    const modal = new Modal("#modalProcessing");
                    modal.show();

                    const blob = fileList[0];
                    const formData = new FormData();
                    formData.append("blob", blob);
                    formData.append("collection_uuid", "{{ collection.uuid }}");

                    axios.post("{% url "collection:create_blob" %}", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    }).then((response) => {
                        window.setTimeout(() => {
                            const modal = Modal.getInstance(document.getElementById("modalProcessing"));
                            modal.hide();
                        }, 500);
                        if (response.data.status === "OK") {
                            const blobUuid = response.data.blob_uuid;
                            window.location="{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, blobUuid);
                        } else {
                            EventBus.$emit(
                                "toast",
                                {
                                    "body": response.data.message,
                                    "variant": "danger",
                                    "autoHide": false,
                                },
                            );
                        }
                    });
                };

                function handleBlobDragOver(event) {
                    event.currentTarget.querySelector(".drag-target").classList.add("collection-drag-over");
                };

                function handleBlobDragLeave(event) {
                    event.currentTarget.querySelector(".drag-target").classList.remove("collection-drag-over");
                };

                function handleSort(event) {
                    if (event.oldIndex === event.newIndex) {
                        return;
                    }
                    // The backend expects the ordering to begin with 1, not 0, so add 1.
                    const newPosition = event.newIndex + 1;

                    doPost(
                        "{% url "collection:sort_objects" %}",
                        {
                            "collection_uuid": "{{ collection.uuid }}",
                            "object_uuid": blobList.value[event.oldIndex].uuid,
                            "new_position": newPosition,
                        },
                        () => {},
                    );
                };

                function removeBlob(uuid) {
                    doPost(
                        "{% url "collection:remove_object" %}",
                        {
                            "collection_uuid": "{{ collection.uuid }}",
                            "object_uuid": uuid,
                        },
                        (response) => {
                            getBlobList();
                        },
                        "Blob removed from collection",
                    );
                };

                function getBlobList(pageNumber=1) {
                    let url = "{% url 'collection:get_object_list' collection.uuid %}?pageNumber=" + pageNumber;

                    if (selectedTag.value) {
                        url += `&tag=${selectedTag.value}`;
                    }

                    doGet(
                        url,
                        (response) => {
                            blobList.value = response.data.object_list;
                            paginator.value = response.data.paginator;
                        },
                        "Error getting blob list",
                    );
                };

                onMounted(() => {
                    hotkeys("right,left,escape", function(event, handler) {
                        switch (handler.key) {
                            case "right":
                                getSlideShowImage("next");
                                break;
                            case "left":
                                getSlideShowImage("previous");
                                break;
                            case "escape":
                                document.querySelector("#overlay img").src = null;
                                document.querySelector("#overlay video").src = null;

                                // Restore the scrollbars
                                document.body.style.overflow = "visible";

                                // Remove the back background
                                document.getElementById("overlay").classList.add("d-none");
                                break;
                        }
                    });

                    document.getElementById("id_name").value = collectionJson.name;
                    document.getElementById("id_description").value = collectionJson.description;
                    getBlobList();
                });

                return {
                    blobList,
                    collectionDetailMenuItems,
                    collectionImage,
                    getBlobList,
                    getDescription,
                    handleNewBlob,
                    handleItemClick,
                    handleTagSelect,
                    handleBlobDragLeave,
                    handleBlobDragOver,
                    handleStartSlideShow,
                    handleSort,
                    isFavorite,
                    needsPagination,
                    objectTags,
                    paginate,
                    paginator,
                    pluralize,
                    removeBlob,
                    selectedTag,
                    slideShowInterval,
                    slideShowOptions,
                    slideShowType,
                    slideShowRandomize,
                };
            },
        });
        app.use(FloatingVue);
        app.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        app.mount("#vue-app");

</script>

{% endblock %}
