{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "google"
    ],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "html"
    ],
    "rules": {
      "indent": "off",
      "max-len": "off",
      "quotes": [2, "double"],
      "require-jsdoc": "off"
    }
}
