{% extends "base_react.html" %}

{% load vite_tags %}

{% block title %} Node <span class="node-name">{{ node.name }}</span> {% endblock %}

{% block content %}

    <div
        id="react-root"
        data-node-uuid="{{ object.uuid }}"
        data-node-name="{{ object.name }}"
        data-node-list-url="{% url 'node:list' %}"
        data-edit-node-url="{% url 'node-detail' object.uuid %}"
        data-change-layout-url="{% url 'node:change_layout' %}"
        data-add-collection-url="{% url 'node:add_collection' %}"
        data-update-collection-url="{% url 'node:update_collection' %}"
        data-delete-collection-url="{% url 'node:delete_collection' %}"
        data-collection-detail-template="{% url 'collection:detail' '00000000-0000-0000-0000-000000000000' %}"
        data-get-object-list-template="{% url 'collection:get_object_list' '00000000-0000-0000-0000-000000000000' %}"
        data-edit-object-note-template="{% url 'collection:update_object_note' %}"
        data-remove-object-template="{% url 'collection:remove_object' %}"
        data-sort-objects-template="{% url 'collection:sort_objects' %}"
        data-add-new-bookmark-template="{% url 'collection:add_new_bookmark' %}"
        data-add-object-template="{% url 'collection:add_object' %}"
        data-collection-search-url="{% url 'collection:search' %}?query="
        data-add-note-url="{% url 'node:add_note' %}"
        data-delete-note-url="{% url 'node:delete_note' %}"
        data-set-note-color-url="{% url 'node:set_note_color' %}"
        data-blob-detail-template="{% url 'blob-detail' '00000000-0000-0000-0000-000000000000' %}"
        data-add-todo-list-url="{% url 'node:add_todo_list' %}"
        data-delete-todo-list-url="{% url 'node:delete_todo_list' %}"
        data-get-todo-list-url="{% url 'node:get_todo_list' object.uuid %}"
        data-add-node-todo-url="{% url 'node:add_todo' %}"
        data-sort-node-todos-url="{% url 'node:sort_todos' %}"
        data-remove-node-todo-template="{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}"
        data-create-todo-url="{% url 'todo-list' %}"
        data-edit-todo-template="{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}"
        data-tag-search-url="{% url 'tag:search' %}?query="
        data-add-image-url="{% url 'node:add_image' %}"
        data-add-quote-url="{% url 'node:add_quote' %}"
        data-update-quote-url="{% url 'node:update_quote' %}"
        data-get-quote-template="{% url 'quote-detail' '00000000-0000-0000-0000-000000000000' %}"
        data-get-and-set-quote-url="{% url 'node:get_quote' %}"
        data-add-node-url="{% url 'node:add_node' %}"
        data-update-node-url="{% url 'node:update_node' %}"
        data-node-search-url="{% url 'node:search' %}?query="
        data-node-preview-template="{% url 'node:preview' '00000000-0000-0000-0000-000000000000' %}"
        data-node-detail-template="{% url 'node:detail' '00000000-0000-0000-0000-000000000000' %}"
        data-remove-component-url="{% url 'node:remove_component' %}"
        data-search-names-url="{% url 'search:search_names' %}"
    ></div>

    {{ layout_data|json_script:"layout-data" }}
    {{ priority_list_data|json_script:"priority-list-data" }}

{% endblock %}

{% block javascript_bundles %}

    {{ block.super }}

    {% vite_asset "dist/js/node-detail" %}

{% endblock %}

{% block help %}

    <div class="d-none" id="help-text">
# Quote Keyboard Shortcuts
- **Right-Arrow** *-* Skip
- **U** *-* Update
    </div>

{% endblock %}
